[2021-09-24 12:04] SarthakKeshari opened #3 "Quadratic"
### Enter your question -
Find the roots of the quadratic Equation

### Enter link to the question(if question belongs to any online platform) -
NO link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Maths, Datatypes

[2021-09-24 12:14] SarthakKeshari opened #4 "Sorting an array"
### Enter your question -
Take 10 numbers as input from the user and sort it

### Enter link to the question(if question belongs to any online platform) -
NO link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
sorting, array

### Question belongs to which section/subsection(eg - Arrays/1D Arrays) -
Arrays/1D Arrays

[2021-09-24 12:17] SarthakKeshari opened #5 "Birthday Cake Candles"
### Enter your question -
You are in charge of the cake for a child's birthday. You have decided the cake will have one candle for each year of their total age. They will only be able to blow out the tallest of the candles. Count how many candles are tallest.

### Enter link to the question(if question belongs to any online platform) -
https://www.hackerrank.com/challenges/birthday-cake-candles/pr

[2021-09-24 12:23] SarthakKeshari opened #6 "Prime Game"
### Enter your question -
Chef and Divyam are playing a game with the following rules:

First, an integer X! is written on a board.
Chef and Divyam alternate turns; Chef plays first.
In each move, the current player should choose a positive integer D which is divisible by up to Y distinct primes and does not exceed the integer currently written on the board. Note that 1 is not a prime.
D is then s

[2021-09-25 16:24] Minal2103 opened #7 "less or greater than 10"
### Enter your question -
write a program to check if number is greater than or less than 10

### Enter link to the question(if question belongs to any online platform) -
no link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic , if

[2021-09-25 16:25] Minal2103 commented on #7
Kindly assign this issue to me @SarthakKeshari

[2021-09-25 16:30] SarthakKeshari commented on #7
@Minal2103,
Deadline for the task is 25/09/2021.

[2021-09-25 16:36] SarthakKeshari commented on #7
Kindly create another issue Add a solution to solve it @Minal2103

[2021-09-25 16:38] Minal2103 opened #8 "Solution - less than greater than 10"
### Enter Issue id being referred to -
#7

### Approach/Algorithm/Pseudo Code for the selected question -
i will use if for this question

### Tags for the solution(eg - Array, Basic, Stack, etc.) -
Basic

[2021-09-25 16:39] SarthakKeshari commented on #8
@Minal2103 ,
Deadline will be 25/09/2021

[2021-09-25 16:40] SarthakKeshari commented on #8
Kindly place your solution in Basic Codes folder

[2021-09-26 13:24] 95496 opened #9 "Multiple of two"
### Enter your question - write a program to check if the number is multiple of two

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic If else

[2021-09-26 13:25] 95496 opened #10 "solution - multiple of two"
### Enter Issue id being referred to - #9
Your answer

### Approach/Algorithm/Pseudo Code for the selected question -
i will use if else

### Tags for the solution(eg - Array, Basic, Stack, etc.) -
Basic if else

[2021-09-26 13:31] SarthakKeshari commented on #10
@95496,
Kindly add the solution to basic codes folder.
Deadline for the solution will be 26/09/2021.

[2021-09-26 18:20] Vedansh-Keshari opened #12 "Positive Negative"
### Enter your question - Write a program to enter a number and check whether it is positive or negative
Your answer

### Enter link to the question(if question belongs to any online platform) - No link
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) - Basic, if else
Your answer

[2021-09-26 18:24] Vedansh-Keshari opened #13 "Solution - Positive Negative"
### Enter Issue id being referred to - #12
Your answer

### Approach/Algorithm/Pseudo Code for the selected question - I will use if else to solve the issue
Your answer

### Tags for the solution(eg - Array, Basic, Stack, etc.) - Basic, if else
Your answer

[2021-09-26 19:18] #10 closed

[2021-09-26 19:18] #9 closed

[2021-09-27 07:18] SarthakKeshari commented on #13
@Vedansh-Keshari,
Kindly add the solution in Basic Codes folder.
Deadline 28/09/2021

[2021-09-27 17:59] SarthakKeshari opened #14 "Swap 1"
### Enter your question -
Write a program to swap two numbers (with the help of third variable).

### Enter link to the question(if question belongs to any online platform) -
No Link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic

[2021-09-27 18:02] SarthakKeshari opened #15 "Swap 2"
### Enter your question -
Write a program to swap two numbers (WITHOUT the help of third variable).

### Enter link to the question(if question belongs to any online platform) -
No Link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic

[2021-09-28 05:13] SarthakKeshari opened #16 "Factorial 1"
### Enter your question -
Write a program to find factorial of a number entered by the user. (Using loop)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic, loops

[2021-09-28 05:15] SarthakKeshari opened #17 "Factorial 2"
### Enter your question -
Write a program to find factorial of a number entered by the user. (Using recursion)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
recursion, if

[2021-09-28 08:49] #12 closed

[2021-09-28 08:49] #13 closed

[2021-09-28 13:20] satyam878 opened #19 "Prime number between ranges"
### Enter your question -
Write a program that displays the primes number between the given ranges
Input constraint
Stating , ending number >=1  and Stating , ending number < Integer.MAX_VALUE
output constraint
Display all the numbers between that range

Sample Input
1,10
Sample  Output
2,3,5,7

### Enter link to the question(if question belongs to any online platform) -
no link

### Tags for the

[2021-09-28 13:22] SarthakKeshari commented on #19
@satyam878,
Kindly add the solution to "Basic codes" folder
Deadline - 29/09/2021

[2021-09-28 13:29] vish-han commented on #16
Please assign me ...

[2021-09-28 15:11] dineshparekh11 opened #20 "Check greater than 100"
### Enter your question -
Check number greater than 100 or not

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic, if else

[2021-09-28 15:12] dineshparekh11 commented on #20
Kindly assign this issue to me @SarthakKeshari

[2021-09-28 15:15] SarthakKeshari commented on #20
@dineshparekh11,
Kindly add your solution to "Basic Codes" folder
Deadline 28/09/2021

[2021-09-28 15:17] SarthakKeshari commented on #16
@vish-han,
Kindly add your solution to "Basic Codes" folder
Deadline 29/09/2021

[2021-09-28 15:43] #20 closed

[2021-09-28 15:59] dineshparekh11 commented on #14
Kindly assign this issue.

[2021-09-28 16:00] SarthakKeshari commented on #14
@dineshparekh11,
Kindly add the solution to "Basic Codes" folder.
Deadline - 29/09/2021

[2021-09-28 16:15] vish-han commented on #16
ok @SarthakKeshari 😀

[2021-09-28 16:19] vish-han commented on #16
plz check and review the pull request I have done this task...

[2021-09-28 17:18] Ln11211 commented on #15
hello, I have an idea using arithmetic operators "+" and "-", it works fine in theory, can I try this out please ?

[2021-09-28 17:50] Ln11211 commented on #6
Hello @SarthakKeshari sir, can I please do this, I already have a solution in my mind ?, Kindly assign this issue to me..

[2021-09-28 17:51] Ln11211 commented on #5
Hello @SarthakKeshari sir, Kindly assign this issue to me...

[2021-09-28 18:46] SarthakKeshari commented on #5
@Ln11211,
Kindly add your solution to "Basic Codes" folder.
Deadline - 30/09/2021

Hacktoberfest tag will be applicable from 1st October

[2021-09-28 18:51] SarthakKeshari commented on #6
@Ln11211
Cannot assign more than 2 issues at a time under the same person. You may claim the same after 6 PM. 29/09/2021 if no one claims it.

[2021-09-28 19:45] SarthakKeshari commented on #16
@vish-han, I have reviewed your pull request

[2021-09-29 00:26] Diegoslourenco commented on #6
@SarthakKeshari can you assign this to me?

[2021-09-29 04:15] SarthakKeshari commented on #6
@Diegoslourenco,
Kindly add your solution to "CodeChef" folder.
Deadline - 1/10/2021

Hacktoberfest tag will be applicable from 1st October

[2021-09-29 04:35] SarveshLimaye commented on #17
@SarthakKeshari would like to work on this issue. Pls, assign me this issue.

[2021-09-29 05:12] SarthakKeshari commented on #17
@SarveshLimaye,
Kindly add your solution to "Basic Codes" folder.
Deadline - 30/09/2021

[2021-09-29 05:38] SarthakKeshari opened #25 "👋 For new Contributors"
### Discussed in https://github.com/SarthakKeshari/Java-Questions-and-Solutions/discussions/24

<div type='discussions-op-text'>

<sup>Originally posted by **SarthakKeshari** September 29, 2021</sup>
Hello Contributors,
Some issues have been tagged as good first issue. You may ask for assigning those issue to you if you're beginner to open source contribution.If there is no such issue open for you

[2021-09-29 05:45] SB2318 commented on #4
I want to work on this issue. Please assign it to me.

[2021-09-29 06:27] SarthakKeshari commented on #4
@SB2318,
Kindly add your solution to "Basic Codes" folder.
Deadline - 30/09/2021

[2021-09-29 07:40] #17 closed

[2021-09-29 08:30] Krush2311 commented on #3
hello sir, kindly assign this issue to me

[2021-09-29 08:32] Krush2311 commented on #7
Hello sir, kindly assign this issue to me

[2021-09-29 08:36] SarthakKeshari opened #28 "Semi sort 1"
### Enter your question -
Write a program to sort half of the array in ascending and second half in descending or vice versa depending on users choice.
AD - Ascending then descending
DA - Descending then ascending

Sample test case -
Input -
Enter sorting style: AD
Enter number of elements in the array: 5
Numbers: 1 4 2 4 2

Output -
Semi-sorted: 1 2 4 4 2

Explaination -
Array -> 1 4 2 4 2
Part-o

[2021-09-29 08:42] dineshparekh11 commented on #14
Solution of  Write a program to swap two numbers (with the help of third variable).

![Screenshot 2021-09-29 122404](https://user-images.githubusercontent.com/78658348/135234039-bcfaa708-8afc-4c13-82db-c4882e43c6d1.png)
![Screenshot 2021-09-29 122254](https://user-images.githubusercontent.com/78658348/135234062-7d62f77e-525b-47c2-9c37-c944bce8baad.png)

[2021-09-29 08:49] SarthakKeshari commented on #14
@dineshparekh11,
Kindly created a PR. Don't share solution in comments

[2021-09-29 08:51] SarthakKeshari commented on #3
@Krush2311,
Go ahead, Kindly add your solution to "Basic Codes" folder.
Deadline - 30/09/2021

[2021-09-29 08:52] SarthakKeshari commented on #7
@Krush2311,
Kindly add your solution to "Basic Codes" folder.
Deadline - 30/09/2021

[2021-09-29 08:52] #8 closed

[2021-09-29 09:27] SarthakKeshari opened #30 "Rank-List released"
### Discussed in https://github.com/SarthakKeshari/Java-Questions-and-Solutions/discussions/29

<div type='discussions-op-text'>

<sup>Originally posted by **SarthakKeshari** September 29, 2021</sup>
Hello everyone 👋,
Finally the wait is over. Ranks are up for all making their path into successful contribution.  🏆
🥇Grab your chance to be the Top Contributor.

#### Ranklist will be updated daily be

[2021-09-29 12:00] Ln11211 commented on #5
Hello @SarthakKeshari sir, is this issue no more under the hacktoberfest tag ?

[2021-09-29 19:04] MohammedHassan07 commented on #16
@SarthakKeshari
Kindly assign this issue to me

[2021-09-29 19:42] SarthakKeshari commented on #16
@vish-han,
Pull hasn't been generated. Kindly generate again and check in Pull request section.

[2021-09-30 03:18] #14 closed

[2021-09-30 03:19] SarthakKeshari commented on #15
@Ln11211,
Kindly place your solution in "Basic Codes" folder.
Deadline - 30/09/2021

[2021-09-30 04:49] SarthakKeshari opened #34 "Special Number"
### Enter your question -
Write a program to check if a number is Special or not

Explaination -
A number is said to be special if the sum of the factorial of its digits is equal to the original number.(Make program modular by creating user-defined functions. eg- factorial(), sum())

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg

[2021-09-30 05:01] dineshparekh11 commented on #34
Kindly give me #34 issue to me

[2021-09-30 05:02] SarthakKeshari commented on #34
@dineshparekh11,
Kindly create a folder "Number Theory" and place your solution in it.
Deadline - 01/10/2021

[2021-09-30 05:53] #5 closed

[2021-09-30 05:55] MohammedHassan07 opened #35 "Factorial of a number (recursively)"
### Enter your question -
Find the Factorial of a number using recursion.

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic

[2021-09-30 05:56] MohammedHassan07 commented on #35
@SarthakKeshari
Kindly assign this issue to me

[2021-09-30 06:05] SarthakKeshari commented on #35
@MohammedHassan07,
This has already been addressed and has been merged

[2021-09-30 06:05] #35 closed

[2021-09-30 07:23] Ln11211 commented on #28
@SarthakKeshari  I want to try this, please assign this to me...

[2021-09-30 07:24] Ln11211 commented on #28
@SarthakKeshari is is possible to add this under Hacktoberfest ?

[2021-09-30 08:02] SarthakKeshari commented on #28
@Ln11211,
Go ahead, Kindly place your solution in "Sorting" folder.
Deadline - 01/10/2021

[2021-09-30 16:18] SarthakKeshari opened #41 "Palindrome Prime"
### Enter your question -
Write a program to check a number for palindrome prime.

Palindrome - A palindromic number is a number (such as 16461) that remains the same when its digits are reversed.
Prime - a whole number greater than 1 that cannot be exactly divided by any whole number other than itself and 1

### Enter link to the question(if question belongs to any online platform) -
No link

###

[2021-09-30 16:32] dineshparekh11 commented on #41
Kindly Give #41 Write a program to check a number for palindrome prime issue to me

[2021-09-30 16:48] SarthakKeshari commented on #41
@dineshparekh11,
Kindly add you solution to "Number Theory" folder.
Deadline - 01/10/2021

[2021-09-30 17:12] #3 closed

[2021-09-30 17:14] #7 closed

[2021-09-30 17:14] #15 closed

[2021-09-30 17:19] navjotdadwal commented on #4
sir can you please assign this issue to me i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776 can resolve this issue
following are my accounts:
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234

[2021-09-30 17:19] navjotdadwal commented on #6
sir can you please assign this issue to me i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776 and i use cpp language for competitive programming and can resolve this issue
following are my accounts:
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234

[2021-09-30 17:20] navjotdadwal commented on #16
sir can you please assign this issue to me i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776 and i use cpp language for competitive programming and can resolve this issue
following are my accounts:
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234

[2021-09-30 17:20] navjotdadwal commented on #19
sir can you please assign this issue to me i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776 and i use cpp language for competitive programming and can resolve this issue
following are my accounts:
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234

[2021-09-30 17:20] navjotdadwal commented on #28
sir can you please assign this issue to me i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776 and i use cpp language for competitive programming and can resolve this issue
following are my accounts:
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234

[2021-09-30 17:21] navjotdadwal commented on #34
sir can you please assign this issue to me i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776 and i use cpp language for competitive programming and can resolve this issue
following are my accounts:
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234

[2021-09-30 17:21] navjotdadwal commented on #41
sir can you please assign this issue to me i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776 and i use cpp language for competitive programming and can resolve this issue
following are my accounts:
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234

[2021-09-30 17:25] Ln11211 commented on #28
@SarthakKeshari sir, this sure is a tough one, but I have completed it..
is the hactoberfest officially started ? or should I wait until it starts ?

[2021-09-30 17:33] Ln11211 commented on #28
@navjotdadwal, I have already comleted the code, and I will create a pull request once it's 1st of september in my timezone, just waiting for the hactoberfest to start...

[2021-09-30 17:51] darshanr27 opened #42 "Reverse string without using inbuilt function"
### Enter your question -
Write a java program to reverse the string without using the inbuilt function.

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
String, Basic, Looping

[2021-09-30 17:52] darshanr27 commented on #42
Kindly assign this issue to me

[2021-09-30 18:05] SarthakKeshari commented on #42
@darshanr27,
Kindly add your solution to "String handling" folder.
Deadline - 01/10/2021

[2021-09-30 18:08] mahesh-11102 opened #43 "nth smallest element in Binary search tree"
###  Write a Java program to identify the kth smallest element in the binary search tree.
Since the tree is Binary search tree, so we need to go to the `leftmost node` and start counting to right if count is equal to k print node

### Enter link to the question(if question belongs to any online platform) -
`N/A`

### Tags for the question(eg - Array, Basic, Stack, etc.) -
trees, LinkedList ,  Bina

[2021-09-30 19:33] SarthakKeshari commented on #43
@mahesh-11102,
Considering this question will be attempted using Linked list and not simple array, I am assigning it under `Hacktoberfest`
Kindly place your solution in "Data Structures/Trees/Binary Trees" folder.
Deadline - 03/10/2021

[2021-09-30 19:37] SarthakKeshari commented on #4
Deadline over

[2021-09-30 19:38] SarthakKeshari commented on #4
@navjotdadwal,
Go ahead, Kindly add your solution to "Basic Codes" folder.
Deadline - 02/10/2021

[2021-09-30 19:41] SarthakKeshari commented on #19
Deadline over

[2021-09-30 19:42] SarthakKeshari commented on #19
@satyam878,
Kindly add the solution to "Basic codes" folder
Deadline - 02/10/2021

[2021-09-30 19:42] SarthakKeshari commented on #19
@navjotdadwal,
Kindly add the solution to "Basic codes" folder
Deadline - 02/10/2021

[2021-09-30 19:51] mahesh-11102 commented on #43
Thank you @SarthakKeshari sir

[2021-09-30 20:02] SarthakKeshari commented on #28
Go ahead, contribute now.

[2021-09-30 22:59] #42 closed

[2021-10-01 00:07] erickcernarequejo opened #47 "The longest ascending sequence"
Write a program that reads an array of ints and outputs the length of the longest sequence in strictly ascending order. Elements of the sequence must go one after another. A single number is assumed to be an ordered sequence with the length = 1.

### Enter link to the question(if question belongs to any online platform) -
```N/A```

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

[2021-10-01 01:14] SarthakKeshari commented on #47
@erickcernarequejo,
Go ahead, Kindly add your solution in "Arrays/1D Arrays" folder.
Deadline - 02/10/2021

[2021-10-01 02:23] aadityasinha-dotcom commented on #47
Can I work on this issue?

[2021-10-01 02:33] erickcernarequejo commented on #47
Thank you @SarthakKeshari

[2021-10-01 02:37] #6 closed

[2021-10-01 02:38] #43 closed

[2021-10-01 02:41] SarthakKeshari commented on #47
You may create a new issue since this is alreadt assigned

[2021-10-01 02:43] #34 closed

[2021-10-01 02:50] aadityasinha-dotcom commented on #47
What type of issues I can create?

[2021-10-01 02:52] SarthakKeshari commented on #47
You can create your own question and comment to get assigned

[2021-10-01 02:53] aadityasinha-dotcom commented on #47
Can I add a question that was on codechef or codeforces or any other platforms?

[2021-10-01 02:59] SarthakKeshari commented on #47
Yes, but it should be a medium level or above question as well as there are more strict review rules for them, even after successful merge they will be reviewed again by the team. Plagarism might lead to ban.

[2021-10-01 03:33] aadityasinha-dotcom opened #50 "Max Length Of SubArray"
### Enter your question -
Write a program that read an array of integers and an integer k and outputs the length of maximum length of sub array with sum equals to k. If there is no sub array length > 1 and the element k is present in the array then the output = 1.
### Enter link to the question(if question belongs to any online platform) -
`N/A`

### Tags for the question(eg - Array, Basic, Stack,

[2021-10-01 03:41] sachin4429 opened #52 "Magical Doors (CodeChef Starters 13 challenge)"
### Enter your question -
Chef wants to cross a hallway of N doors. These N doors are represented as a string. Each door is initially either open or close, represented by 1 or 0 respectively. Chef is required to go through all the doors one by one in the order that they appear, starting from the leftmost door and moving only rightwards at each step.

To make the journey easier, Chef has a magic wa

[2021-10-01 03:41] #4 closed

[2021-10-01 03:41] #19 closed

[2021-10-01 03:42] sachin4429 commented on #52
Can I work in this Issue for Hactoberfest 2021.

[2021-10-01 03:44] SarthakKeshari commented on #50
@aadityasinha-dotcom,
Good question just one thing that needs to be clarified in the question, what if neither k is present in the array nor the sum of sub-array sums up to k.

[2021-10-01 03:52] aadityasinha-dotcom commented on #50
Then it will print -1.

Then it will print -1.

[2021-10-01 03:53] SarthakKeshari commented on #52
@sachin4429,
Go ahead, Kindly add your solution to "Codechef" folder.
Deadline - 02/10/2021

Strict advice -
Be original in your code. In case of found plagarism in later review even after a successful merge may lead to ban.

[2021-10-01 03:55] navjotdadwal commented on #19
Respected sir
I have a exam from 2p.m to 4p.m after giving exam i will to do rest of the
assigned tasks so sorry for this delay

On Fri, 1 Oct 2021, 09:11 Satyam Chaurasia, ***@***.***>
wrote:

[2021-10-01 03:58] satyam878 opened #53 "Palindrome String"
### Enter your question -
Given a string str, we need to check whether the given string is palindrome or not
A Palindrome string is a such string that reversing it gives the same string.

### Enter link to the question(if question belongs to any online platform) -
Not Any

### Tags for the question(eg - Array, Basic, Stack, etc.) -
String

[2021-10-01 03:58] aadityasinha-dotcom commented on #50
@SarthakKeshari Can I work in this Issue for Hactoberfest 2021?

[2021-10-01 03:58] satyam878 commented on #53
Please approve the question @SarthakKeshari

[2021-10-01 04:00] SarthakKeshari commented on #53
@satyam878,
Go ahead, Kindly place your solution in "String handling" folder.
Deadline - 02/10/2021

[2021-10-01 04:02] SarthakKeshari commented on #50
@aadityasinha-dotcom,
Go ahead, Kindly save your solution to "Arrays/ 1D Arrays" folder.
Deadline - 02/10/2021

[2021-10-01 04:11] vish-han opened #54 "there is no searching and sorting question"
@SarthakKeshari , Please assign this issue to me
I will do this in just 2 hours, I will feel very motivated if u give this issue to me

[2021-10-01 04:14] SarthakKeshari commented on #54
@vish-han,
Kindly look into #22 and complete it or close it. Else it will be counted as rejected

[2021-10-01 04:32] SarthakKeshari opened #57 "🔴⭕Update for all - Step 1⭕🔴"
### Discussed in https://github.com/SarthakKeshari/Java-Questions-and-Solutions/discussions/56

<div type='discussions-op-text'>

<sup>Originally posted by **SarthakKeshari** October  1, 2021</sup>
***
# Hello team, 👋
### Your amazing efforts can be seen from very first day and this is really motivating and creates positive project building spirit.
***

### 🌄Opening a new way into this project to

[2021-10-01 04:46] #16 closed

[2021-10-01 04:48] MohammedHassan07 commented on #57
@SarthakKeshari
Website name : Learn to Code

[2021-10-01 04:50] vish-han commented on #54
can u assign this issue to me now??
plzz add the hacktoberfest tag

[2021-10-01 04:56] SarthakKeshari commented on #54
In case you don't find an active issue to claim. Create your own and I will assign.
Refere Contributing guildlines for more details

[2021-10-01 04:59] #50 closed

[2021-10-01 05:31] MohammedHassan07 opened #61 "Cyclic sort"
### Enter your question -
If array is given from 1 to n where n is length of the array, sort it in O(n) time complexity.

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
1D array

[2021-10-01 05:32] MohammedHassan07 commented on #61
@SarthakKeshari
Kindly assign this issue to me,
I have practiced it on my local machine.

[2021-10-01 05:45] AayushBangroo opened #62 "Print Binary of number(Bit Manipulation)"
### Enter your question -
Print Binary of a number using Bit Manipulation taking input from user.

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Bit Manipulation, Math

[2021-10-01 05:46] AayushBangroo commented on #62
Kindly assign this issue to me.

[2021-10-01 07:01] SarthakKeshari commented on #61
@MohammedHassan07,
Kindly place your solution in "Sorting" folder.
Deadline - 03/10/2021

[2021-10-01 07:03] SarthakKeshari commented on #62
@AayushBangroo,
Go ahead, Kindly place your solution in "Bit manipulation" folder.
Deadline - 02/10/2021

[2021-10-01 07:57] #62 closed

[2021-10-01 07:58] Vedansh-Keshari opened #65 "Keprekar Number"
### Enter your question -
Write a program to input a number and check whether it is a Keprekar Number or not.

### Enter link to the question(if question belongs to any online platform) -
No Link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Mathematical operations and if else statement

[2021-10-01 08:01] aadityasinha-dotcom opened #66 "Maximum frequent character in the string"
### Enter your question -
Given a string str, we need to find maximum occurring character in the string.

### Enter link to the question(if question belongs to any online platform) -
`N/A`

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Strings

`Example:`

![hacktober2](https://user-images.githubusercontent.com/75474786/135585901-8a9d4e11-cb20-4a81-a019-92da185497f6.PNG)

As a part o

[2021-10-01 08:03] manvikri22 opened #67 "Chef in Vaccination Queue"
### Enter your question -
There are N people in the vaccination queue, Chef is standing on the Pth position from the front of the queue. It takes X minutes to vaccinate a child and Y minutes to vaccinate an elderly person. Assume Chef is an elderly person.

You are given a binary array A1,A2,…,AN of length N, where Ai=1 denotes there is an elderly person standing on the ith position of the queue,

[2021-10-01 08:20] SarthakKeshari commented on #67
@manvikri22,
Kindly place your solution in "codechef" folder.
Deadline - 02/10/2021

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-01 08:21] Vedansh-Keshari commented on #65
@SarthakKeshari
Kindly assign me this issue and mark it for Hacktoberfest 2021

[2021-10-01 08:25] SarthakKeshari commented on #65
@Vedansh-Keshari,
Kindly add you solution to "Number Theory" folder.
Deadline - 02/10/2021

[2021-10-01 08:25] MohammedHassan07 commented on #61
If I make a detailed explanation of the issues I raised  in .txt format, will it acceptable?

[2021-10-01 08:29] SarthakKeshari commented on #66
@aadityasinha-dotcom,
Kindly add your question to "String Handling" folder
Deadline - 02/10/2021

Gentle advice for futher Issues -
A bit more tough questions would be appreciated for Hacktoberfest tag.

[2021-10-01 08:34] AayushBangroo opened #68 "Modular Exponentiation (Number Theory)"
### Enter your question -
Given three number 'a' , 'b' and 'm' calculate a^b under modulo 'm'

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Number Theory

[2021-10-01 08:39] Krush2311 opened #69 "Linear Search"
### Enter your question -
Performing Linear search of any number entered by user in an Array

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

[2021-10-01 08:40] Krush2311 commented on #69
Kindly assign this issue to me. Also could you add the label "hacktoberfest"

[2021-10-01 08:46] vish-han opened #71 "binary search in an infinite sorted array"
### Enter your question -
You are given an sorted array, you have to search for element in the array by applying binary search.

### Enter link to the question(if question belongs to any online platform) -
https://www.geeksforgeeks.org/find-position-element-sorted-array-infinite-numbers/
### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array ,JAVA

[2021-10-01 08:47] #66 closed

[2021-10-01 08:47] vish-han commented on #71
Can I work in this issue for the hacktoberfest2021, I will be highly motivated if u assign me to do this task..

[2021-10-01 08:52] SarthakKeshari commented on #69
@Krush2311,
Kindly place your solution in "Searching" folder.
Deadline - 02/10/2021

[2021-10-01 08:56] SarthakKeshari commented on #68
@AayushBangroo,
Go ahead, Kindly add your solution to "Number Theory" folder.
Deadline - 03/10/2021

The question you have come up with is an essential one. So do provide good insight my providing proper comments in your solution file.

[2021-10-01 08:58] #28 closed

[2021-10-01 09:10] SarthakKeshari commented on #71
@vish-han,
Kindly place your solution in "GeeksForGeeks" folder if folder is not present then create it.
Deadline - 02/10/2021

[2021-10-01 09:11] #54 closed

[2021-10-01 09:14] Ankurrsingh opened #73 "Reorder List"
### Enter your question -
Reorder List
You are given the head of a singly linked-list. The list can be represented as:

L0 → L1 → … → Ln - 1 → Ln
Reorder the list to be on the following form:

L0 → Ln → L1 → Ln - 1 → L2 → Ln - 2 → …
You may not modify the values in the list's nodes. Only nodes themselves may be changed

### Enter link to the question(if question belongs to any online platform) -
h

[2021-10-01 09:15] devesh-2002 opened #74 "Min Max of an Array using Recursion"
### Enter your question -
Find Minimum and Maximum of an array using recursion.

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Recursion, Array
Eg :
![image](https://user-images.githubusercontent.com/79015420/135595557-97f15350-9ef0-42fb-93e0-b9b0ec5bf4e7.png)
Please assign me this issue, as a part of Hacktoberfest.

[2021-10-01 09:42] SarthakKeshari commented on #73
@Ankurrsingh,
Kindly write whole question description in enter your question section

[2021-10-01 09:44] SarthakKeshari commented on #74
@devesh-2002,
Kindly add your solution to "Recursion" folder.
Deadline - 03/10/2021

[2021-10-01 09:46] nik132-eng opened #76 "Rotate Array"
### Enter your question -
Given an array, rotate the array to the right by k steps, where k is non-negative.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/rotate-array/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
ARRAY, JAVA

please assign me this issue for hacktoberfest @SarthakKeshari sir #

[2021-10-01 09:47] aadityasinha-dotcom opened #77 "Javelin Qualification"
### Enter your question -
There are N players with IDs from 1 to N, who are participating in the Javelin throw competition which has two rounds. The first is the qualification round, followed by the final round. The qualification round has gotten over, and you are given the longest distance that each of the N players has thrown as A1,A2,…,AN. Now, the selection process for the final round happens

[2021-10-01 09:49] #65 closed

[2021-10-01 09:57] Vedansh-Keshari opened #78 "Emirp Number"
### Enter your question -
Write a program to input a number a check whether it is an Emirp Number or not.

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Looping statements and if else statements

@SarthakKeshari
Kindly assign me the issue,
as a part of Hacktoberfest.

[2021-10-01 10:05] SarveshLimaye opened #79 "Find the Duplicate Number"
### Enter your question -
Given an array of integers nums containing n + 1 integers where each integer is in the range [1, n] inclusive. There is only one repeated number in nums, return this repeated number.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/find-the-duplicate-number/

### Tags for the question(eg - Array, Basic, Stack, etc

[2021-10-01 10:09] niranjana687 opened #80 "Delete a Node in Linked List"
### Enter your question -
Delete a Node in Linked List
Write a function to delete a node in a singly-linked list. You will not be given access to the head of the list, instead you will be given access to the node to be deleted directly.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/delete-node-in-a-linked-list/

### Tags for the questio

[2021-10-01 10:13] SarthakKeshari commented on #76
@nik132-eng,
Go ahead, kindly add your solution to "leetcode" folder.
Deadline - 02/10/2021

[2021-10-01 10:16] SarthakKeshari commented on #77
@aadityasinha-dotcom,
Kindly add your solution to "codechef" folder.
Deadline - 03/10/2021

[2021-10-01 10:18] SarthakKeshari commented on #78
@Vedansh-Keshari,
Kindly add your solution to "Number Theory" folder.
Deadline - 03/10/2021

[2021-10-01 10:21] SarthakKeshari commented on #79
@SarveshLimaye,
Kindly add your solution to "leetcode" folder
Deadline - 03/10/2021

[2021-10-01 10:24] Ankurrsingh commented on #73
check i added whole question

[2021-10-01 10:34] ishaangupta-YB opened #82 "50. Pow(x, n)"
### Enter your question -
Implement pow(x, n), which calculates x raised to the power n (i.e., xn).

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/powx-n/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Recursion, Medium

Pull request - #44

[2021-10-01 11:27] iamsunil25 commented on #80
@SarthakKeshari Please assign this to me under hacktoberfest tag!

[2021-10-01 11:42] AayushBangroo opened #87 "Check if number is odd or even (Bit Manipulation)"
### Enter your question -
Check if number is odd or Even using Bit Manipulation

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Bit Manipulation

[2021-10-01 11:46] nik132-eng commented on #76
sir code submitted please check it out

[2021-10-01 11:50] shrushti2001 commented on #87
assign this to me

[2021-10-01 11:54] #67 closed

[2021-10-01 11:58] #52 closed

[2021-10-01 12:02] SarthakKeshari commented on #87
@AayushBangroo,
Kindly claim your question just after creating as per CONTRIBUTING.md guidlines

[2021-10-01 12:03] SarthakKeshari commented on #87
@shrushti2001,
Kindly add your solution to "Bit Manipulation" folder.
Deadline - 02/10/2021

[2021-10-01 12:06] SarthakKeshari commented on #82
@ishaangupta-YB,
Kindly add your solution to "leetcode" folder.
Deadline - 02/10/2021

I am assigning the issue since you have created PR already. But a gentle reminder - Abide by the guidelines

[2021-10-01 12:08] dineshparekh11 opened #90 "Counting number of lines, words, characters and paragraphs in a text file"
### Enter your question -
Counting number of lines, words, characters and paragraphs in a text file using Java

### Enter link to the question(if question belongs to any online platform) -
https://www.geeksforgeeks.org/counting-number-lines-words-characters-paragraphs-text-file-using-java/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Basic, Stack
![find1](https://user-images

[2021-10-01 12:11] SarthakKeshari commented on #80
@niranjana687,
Kindly add your solution to "leetcode" folder.
Deadline - 02/10/2021

[2021-10-01 12:11] SarthakKeshari commented on #80
@iamsunil25,
Kindly don't create PRs before the issue is assigned. And its first come first serve.
So issue will be held by @niranjana687 until the above mentioned deadline.

[2021-10-01 12:30] Ln11211 opened #92 "Zigzag traversal of Matrix"
### Enter your question -
Given a 2D matrix, print all elements of the given matrix in diagonal order.
For example, consider the following 5 X 4 input matrix.
Example:

1     2     3     4
5     6     7     8
9    10   11   12
13  14   15   16
17  18   19   20

Diagonal printing of the above matrix is

1
5 2
9 6 3
13 10 7 4
17 14 11 8
18 15 12
19 16
20

### Enter link to the question(if question b

[2021-10-01 12:33] MohammedHassan07 opened #93 "Fibonacci series using recursion"
### Enter your question -
Display the Fibonacci series to the limit
provided by the user as input by recursion

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Recursion

[2021-10-01 12:40] MohammedHassan07 commented on #93
@SarthakKeshari
Please assign this issue to me

[2021-10-01 12:59] #79 closed

[2021-10-01 14:25] #41 closed

[2021-10-01 14:26] #77 closed

[2021-10-01 14:35] dineshparekh11 commented on #93
@SarthakKeshari Assign this #93 issue to me

[2021-10-01 14:38] dineshparekh11 commented on #90
Kindly assign #90 issue to me

[2021-10-01 14:49] SarthakKeshari commented on #90
@dineshparekh11,
Kindly add your solution to "GeeksForGeeks" folder.
Deadline - 03/10/2021

[2021-10-01 14:50] SarthakKeshari commented on #73
@Ankurrsingh,
Kindly add your solution to "leetcode" folder.
Deadline - 03/10/2021

[2021-10-01 14:58] AayushBangroo opened #95 "Check if Nth bit is set in a number (Bit Manipulation)"
### Enter your question -
Check if Nth bit is set in a number using Bit Manipulation

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Bit Manipulation

[2021-10-01 14:58] AayushBangroo commented on #95
Please assign this issue to me

[2021-10-01 15:12] navjotdadwal commented on #93
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:14] SarthakKeshari commented on #95
@AayushBangroo,
Kindly add your solution to "Bit Manipulation" folder
Deadline - 03/10/2021

[2021-10-01 15:16] navjotdadwal commented on #92
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:16] navjotdadwal commented on #90
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:16] navjotdadwal commented on #87
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:16] navjotdadwal commented on #82
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:16] navjotdadwal commented on #80
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:16] navjotdadwal commented on #78
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:17] navjotdadwal commented on #76
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:17] navjotdadwal commented on #74
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:17] navjotdadwal commented on #73
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:17] navjotdadwal commented on #71
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:17] navjotdadwal commented on #69
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:17] navjotdadwal commented on #68
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:17] navjotdadwal commented on #61
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:17] navjotdadwal commented on #47
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 15:20] SarthakKeshari commented on #93
@MohammedHassan07,
Kindly add your solution to "Recursion" folder
Deadline - 03/10/2021

[2021-10-01 15:34] aadityasinha-dotcom opened #97 "Minimum Jumps"
### Enter your question -
Given an array of integers where each element represents the max number of steps that can be made forward from that element. Return the minimum number of jumps to reach the end of the array. If an element is 0, it cannot move through that element. If the end isn’t reachable, return -1.

### Enter link to the question(if question belongs to any online platform) -
https://w

[2021-10-01 15:40] #74 closed

[2021-10-01 16:04] vish-han commented on #71
Bro no offense to you,  but I can handle this issue and I know some coding too😉

[2021-10-01 16:43] Ln11211 commented on #92
@SarthakKeshari sir, done .. can you please review it sir ?

[2021-10-01 16:47] SarthakKeshari commented on #97
@aadityasinha-dotcom,
This question belongs to GFG right? Kindly mention the link too.

[2021-10-01 16:58] aadityasinha-dotcom commented on #97
OKay, I forgot to paste the link.

[2021-10-01 17:17] #92 closed

[2021-10-01 17:32] SarthakKeshari commented on #97
@aadityasinha-dotcom,
Kindly save your solution to "GeeksForGeeks" folder
Deadline - 03/10/2021

[2021-10-01 17:37] aadityasinha-dotcom commented on #97
I think there is no GeeksForGeeks folder.

[2021-10-01 18:12] #78 closed

[2021-10-01 18:18] SarthakKeshari commented on #76
@nik132-eng,
https://t.me/joinchat/7MGxwePEB55iMTk9 - Join this

[2021-10-01 19:35] #61 closed

[2021-10-01 19:39] #97 closed

[2021-10-01 20:19] divya1509 opened #106 "Missing Number (Bit manipulation)"
### Enter your question -
I would like to add a well-explanatory solution to the question with examples.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/missing-number/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Bit Manipulation

[2021-10-01 20:28] SarthakKeshari commented on #106
@divya1509,
Kindly add your solution to "leetcode" folder.
Deadline - 02/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-01 20:48] #93 closed

[2021-10-01 20:51] divya1509 opened #108 "Binary Tree Maximum Path Sum"
### Enter your question -
I want to contribute a solution to Binary Tree Maximum Path Sum in Java Language.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/binary-tree-maximum-path-sum/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Trees

[2021-10-01 21:23] SarthakKeshari commented on #108
@divya1509,
Kindly place your solution in "leetcode" folder.
Deadline - 03/10/2021

[2021-10-01 21:51] #108 closed

[2021-10-02 04:33] nik132-eng opened #111 "Next Greater Element III"
### Enter your question -
Given a positive integer n, find the smallest integer which has exactly the same digits existing in the integer n and is greater in value than n. If no such positive integer exists, return -1.

Note that the returned integer should fit in 32-bit integer, if there is a valid answer but it does not fit in 32-bit integer, return -1

### Enter link to the question(if question

[2021-10-02 04:34] nik132-eng commented on #111
for hacktober fest can you please assign me this question of leetcode. I will Try to solve this problem

[2021-10-02 05:16] niranjana687 opened #112 "Search a 2D Matrix"
### Enter your question -
Write an efficient algorithm that searches for a value in an m x n matrix. This matrix has the following properties:

Integers in each row are sorted from left to right.
The first integer of each row is greater than the last integer of the previous row.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/search-a-2d-

[2021-10-02 06:42] Anova07 commented on #82
**Enter your question -**
Implement pow(x, n), which calculates x raised to the power n (i.e., xn).

**Enter link to the question(if question belongs to any online platform) -**
https://www.geeksforgeeks.org/write-a-c-program-to-calculate-powxn/
https://leetcode.com/problems/powx-n/

**Tags for the question(eg - Array, Basic, Stack, etc.) -**
Recursion, Medium

**_@SarthakKeshari  please assign th

[2021-10-02 07:30] #76 closed

[2021-10-02 07:39] SarthakKeshari commented on #111
@nik132-eng,
Kindly add your solution to "leetcode" folder.
Deadline - 03/10/2021

[2021-10-02 07:40] #80 closed

[2021-10-02 07:41] AayushBangroo opened #116 "Implement a generic stack class (OOPs)"
### Enter your question -
Implement a Stack class using generics

### Tags for the question(eg - Array, Basic, Stack, etc.) -
OOPs, generics

[2021-10-02 07:41] SarthakKeshari commented on #112
@niranjana687,
Kindly place your solution in "leetcode" folder.
Deadline - 03/10/2021

[2021-10-02 07:42] AayushBangroo commented on #116
Please assign this issue to me

[2021-10-02 07:43] SarthakKeshari commented on #116
@AayushBangroo,
Kindly save your solution to "Data Structure/ Stacks" folder.
Deadline - 03/10/2021

[2021-10-02 07:52] Krush2311 opened #117 "Matrix Addition"
### Enter your question -
Addition of 2 n*n matrices

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Two dimensional array

[2021-10-02 07:52] Monica-Chhabria commented on #57
Website : Coding Library
Since library is a collection of books, This website would be collection of useful codes

[2021-10-02 07:53] Krush2311 commented on #117
Please assign this issue to me. Also will you please add the label hacktoberfest.

[2021-10-02 08:20] Monica-Chhabria opened #119 "Implement Min and Max heap using generics"
### Enter your question -
Implement Min and Max heap using generics

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Heap

[2021-10-02 08:21] Monica-Chhabria commented on #119
Kindly assign this issue to me with hacktoberfest label

[2021-10-02 08:28] SarthakKeshari commented on #117
@Krush2311,
Kindly add you solution to "Arrays/2D Arrays" folder.
Deadline - 02/10/2021

[2021-10-02 08:30] SarthakKeshari commented on #119
@Monica-Chhabria,
Kindly add your solution to "Data Structure/Heap" folder.
Deadline - 03/10/2021

[2021-10-02 08:36] #90 closed

[2021-10-02 08:55] MohammedHassan07 opened #120 "Temperature conversion"
### Enter your question -
Convert the temperature from fahrenheit to Celsius and Celsius to Fahrenheit according to user's choice. Take the temperature as input.

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic

[2021-10-02 08:55] MohammedHassan07 commented on #120
@SarthakKeshari
Kindly arrange the issue to me

[2021-10-02 09:24] SarthakKeshari commented on #120
@MohammedHassan07,
Kindly add your solution to "Basic Codes" folder.
Deadline - 02/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-02 09:39] Prakhar-creator opened #121 "QUESTION-DSA[tower of Hanoi]"
### Enter your question -
Tower of Hanoi is a mathematical puzzle where we have three rods and n disks. The objective of the puzzle is to move the entire stack to another rod, obeying the following simple rules:
1) Only one disk can be moved at a time.
2) Each move consists of taking the upper disk from one of the stacks and placing it on top of another stack i.e. a disk can only be moved if it is

[2021-10-02 10:00] SarthakKeshari commented on #121
@Prakhar-creator,
Go ahead, Kindly create a Games folder and add your solution in it
Deadline - 04/10/2021

Strict advice -
Be original in your code. In case of found plagarism in later review even after a successful merge may lead to ban.

[2021-10-02 10:02] Prakhar-creator commented on #121
@SarthakKeshari Thank you sir!!!

[2021-10-02 10:13] neelshah2409 opened #123 "Java Exception Handling (TRY Catch) [Hackerrank Question]"
### Enter your question -
Exception handling is the process of responding to the occurrence, during computation, of exceptions – anomalous or exceptional conditions requiring special processing – often changing the normal flow of program execution. (Wikipedia)

Java has built-in mechanism to handle exceptions. Using the try statement we can test a block of code for errors. The catch block contains

[2021-10-02 10:14] neelshah2409 commented on #123
Please assign me under hacktoberfest .

[2021-10-02 10:16] aadityasinha-dotcom opened #124 "Matrix multiplication"
### Enter your question -
Multiplication of 2 n*n matrices

### Enter link to the question(if question belongs to any online platform) -
`N/A`

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Two dimensional Array

[2021-10-02 10:18] SarthakKeshari commented on #123
@neelshah2409,
Kindly add your solution to "Hackerrank" folder.
Deadline - 03/10/2021

[2021-10-02 10:20] neelshah2409 opened #125 "Insertion Sort"
### Enter your question -
The concept behind Insertion Sort divides the range into subarrays that are sorted and unsorted. The classified portion is at the start of duration 1 and matches the first (left side) component in the array. We move through the array and expand the classified part of the array by one component during every iteration.

### Enter link to the question(if question belongs to

[2021-10-02 10:21] iamsunil25 opened #126 "QuickSort Algorithm"
### Enter your question -
How To Implement QuickSort in Java?

## approach for solving this question
Let’s talk about the implementation of Quick sort algorithm. Quicksort algorithms take a pivot element and partitions the array around the pivot elememt. There are number of variations of Quicksot which depends on how you choose the pivot element. There of multiple ways to choose the pivot element:

[2021-10-02 10:21] iamsunil25 commented on #126
@SarthakKeshari i want to work on this issue. can you please assign this issue to me?

[2021-10-02 10:24] iamsunil25 commented on #124
@SarthakKeshari assign this issue to me. i wll complete it under deadline.

[2021-10-02 10:29] krish-dev-7 commented on #123
can you please assign me?

[2021-10-02 10:34] SarthakKeshari commented on #126
@iamsunil25,
Kindly add your solution to "Sorting" folder
Deadline - 03/10/2021

[2021-10-02 10:35] SarthakKeshari commented on #125
@neelshah2409,
Kindly add your solution to "Sorting" folder
Deadline - 03/10/2021

[2021-10-02 10:39] SarthakKeshari commented on #124
@iamsunil25,
Kindly add the solution to "Arrays/2D Arrays" folder
Deadline - 03/10/2021

[2021-10-02 10:43] Rishi098 commented on #117
Please assign this issue to me. and i have added a PR for 2D Array please kindly inform if you find any conflict

[2021-10-02 12:03] Rishi098 commented on #124
@SarthakKeshari assign this issue to me. and please also check PR for Arrays/2D Array

[2021-10-02 12:17] iamsunil25 commented on #124
@Rishi098  this issue was assigned to me first if i could not complete it within deadline then you should start your work.

[2021-10-02 12:17] iamsunil25 commented on #124
i did it within deadline

[2021-10-02 12:18] Rishi098 commented on #124
@iamsunil25 ok i will wait

[2021-10-02 12:27] iamsunil25 commented on #124
thanks @Rishi098

[2021-10-02 12:28] MohammedHassan07 opened #131 "Find First and Last occurence of the number in the array"
### Enter your question -
Find First and Last occurence of the number in the array
Time Complexity: O(logN), where N is number of comparisions

sample input: [2 4 6 9 9 11]
Target number: 9
outpt: [3 4]

If the target number is not present print [-1 -1]

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/find-first-and-last-position-of-elemen

[2021-10-02 12:28] MohammedHassan07 commented on #131
@SarthakKeshari
kindly assign this issue to me

[2021-10-02 13:05] ThexXTURBOXx opened #133 "Strassen Algorithm"
### Enter your question - Strassen algorithm

The Strassen algorithm provides a faster-than-standard way to multiply matrices.
It is not very useful for smaller matrices, but will perform better for large ones.

The question is as follows - Take as input an n×n matrix A and n×n matrix B.
The output shall be their multiplication calculated through the Strassen algorithm.

### Enter link to the ques

[2021-10-02 13:10] ThexXTURBOXx commented on #123
The proposed PR is not a very nice solution in my opinion.
Could you maybe assign me to this issue? There are a lot of things that would make the code more readable and safer to use.

[2021-10-02 13:32] aadityasinha-dotcom opened #134 "Intersection of two arrays"
### Enter your question -
Given two arrays arr1 and arr2. We need to find the intersection of both the arrays and return the result as a list.

### Enter link to the question(if question belongs to any online platform) -
`N\A`

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Arrays

`Example:`

![image](https://user-images.githubusercontent.com/75474786/135718541-bd85dc71-7b61-4e88-85e

[2021-10-02 14:24] sachin4429 opened #135 "Make it Divisible ( CodeChef Starters 12 challenge)"
### Enter your question -
Given an integer N, help Chef in finding an N-digit odd positive integer X such that X is divisible by 3 but not by 9.

Note: There should not be any leading zeroes in X. In other words, 003 is not a valid 3-digit odd positive integer.

Input Format
The first line of input contains a single integer T, denoting the number of testcases. The description of the T testcases fo

[2021-10-02 14:25] manvikri22 opened #136 "Shuffling Parities( Codechef September Challenge 2021 Division 2 (Unrated))"
### Enter your question -
Chef is given an array A consisting of N positive integers. Chef shuffles the array A and creates a new array B of length N, where Bi=(Ai+i)mod2, for each i(1≤i≤N).

Find the maximum possible sum of integers of the array B, if Chef shuffles the array A optimally.

### Enter link to the question(if question belongs to any online platform) -
https://www.codechef.com/SEPT21B

[2021-10-02 14:25] sachin4429 commented on #135
Can I work on this issue for Hactoberfest 2021.

[2021-10-02 14:27] manvikri22 commented on #136
I would like to work on this issue??

[2021-10-02 14:28] SarthakKeshari commented on #123
@ThexXTURBOXx,
Your suggestion is welcomed but I prefer if you could create an issue and contribute your insights to exception handling

[2021-10-02 14:37] SarthakKeshari opened #137 "Regex Date Validation"
### Enter your question -
Write a program to validate the date entered by the user.  Use regex to handle date format validation.
Date format - dd/yyyy/mm

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Regex, String Handling, if

[2021-10-02 14:39] niranjana687 opened #138 "Merge K Sorted Lists"
### Enter your question -
You are given an array of k linked-lists lists, each linked-list is sorted in ascending order.

Merge all the linked-lists into one sorted linked-list and return it.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/merge-k-sorted-lists/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Linked list

@Sar

[2021-10-02 14:42] #112 closed

[2021-10-02 14:43] #120 closed

[2021-10-02 14:46] #126 closed

[2021-10-02 15:29] SarthakKeshari commented on #138
@niranjana687,
Kindly add your solution to "leetcode" folder.
Deadline - 02/10/2021

[2021-10-02 15:33] SarthakKeshari commented on #136
@manvikri22,
Kindly add your solution to "codechef" folder.
Deadline - 03/10/2021

[2021-10-02 15:33] 2000shivam659 commented on #138
Please assign me this in **Java** language.

[2021-10-02 15:34] SarthakKeshari commented on #136
@manvikri22,
Kindly add your solution to "codechef" folder.
Deadline - 03/10/2021

Gentle advice for futher Issues -
A bit more tough questions would be appreciated for Hacktoberfest tag.

[2021-10-02 15:35] SarthakKeshari commented on #135
@sachin4429,
Kindly add your solution to "codechef" folder
Deadline - 03/10/2021

Gentle advice for futher Issues -
A bit more tough questions would be appreciated for Hacktoberfest tag.

[2021-10-02 15:37] SarthakKeshari commented on #134
@aadityasinha-dotcom,
Go ahead, Kindly add your solution to "Arrays/1D Array" folder
Deadline - 03/10/2021

[2021-10-02 15:40] SarthakKeshari commented on #133
@ThexXTURBOXx,
Kindly create a "Add a question" issue for the proposal suggested above.

[2021-10-02 15:44] 2000shivam659 opened #139 "Find in Mountain Array"
### Enter your question -
<img width="957" alt="cd" src="https://user-images.githubusercontent.com/76156804/135723383-26e9d244-babc-415d-a487-f8d71439eeaa.png">

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/find-in-mountain-array/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

### Language

- [x] Java

[2021-10-02 15:45] 2000shivam659 opened #140 "First Missing Positive"
### Enter your question -
<img width="955" alt="sd" src="https://user-images.githubusercontent.com/76156804/135723454-035107fc-5128-4de7-87f8-d2729fb8dc6f.png">

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/first-missing-positive/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Binary Search

### Language

- [x] Java

[2021-10-02 15:46] #124 closed

[2021-10-02 15:46] 2000shivam659 commented on #140
Kindly assign me this @SarthakKeshari .

[2021-10-02 15:46] 2000shivam659 commented on #139
Kindly assign me this @SarthakKeshari .

[2021-10-02 15:48] ThexXTURBOXx commented on #133
@SarthakKeshari I updated the issue to fit the template

[2021-10-02 15:48] iamsunil25 commented on #57
website : crackJavaInterview or boostJavaInterview
all questions belongs to java

[2021-10-02 15:49] ThexXTURBOXx commented on #137
I can handle this is in the Java language for the Hacktoberfest. Can you assign me to this issue, please? :)

[2021-10-02 16:04] 2000shivam659 opened #144 "Container With Most Water"
### Enter your question -
<img width="679" alt="xd" src="https://user-images.githubusercontent.com/76156804/135724045-1ed90d75-270f-4aca-bfce-41efd3f3f57f.png">

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/container-with-most-water/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

Please assign me this issue @Sarthak

[2021-10-02 16:05] Architgupta001 opened #145 "Find k’th largest element in an array"
### Enter your question -
Find k’th largest element in an array
Input:

arr = [7, 4, 6, 3, 9, 1]
k = 2

Output:

The 2nd largest array element is 7

### Enter link to the question(if question belongs to any online platform) -

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Data Structure, Heap

[2021-10-02 16:09] ThexXTURBOXx commented on #145
I can also solve this one in Java in at least two different ways.

[2021-10-02 16:13] iamsunil25 opened #146 "Merge Sort"
### Enter your question -
how to implement merge sort in java?

### Enter link to the question(if question belongs to any online platform) -
NA

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Sorting

[2021-10-02 16:16] iamsunil25 opened #147 "Selection Sort"
### Enter your question -
how to implement selection sort in java?

### Enter link to the question(if question belongs to any online platform) -
NA

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Sorting

[2021-10-02 16:17] SarthakKeshari commented on #139
@2000shivam659,
Kindly add your solution to "leetcode" folder.
Deadline - 03/10/2021

[2021-10-02 16:18] iamsunil25 opened #148 "Bubble Sort"
### Enter your question -
How to implement bubble sort in java?

### Enter link to the question(if question belongs to any online platform) -
NA

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Sorting

[2021-10-02 16:22] iamsunil25 opened #149 "Counting Sort"
### Enter your question -
How to implement counting sort in java?

### Enter link to the question(if question belongs to any online platform) -
NA

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Sorting

[2021-10-02 16:32] SarthakKeshari commented on #146
@iamsunil25,
Go ahead, Kindly add your solution to "Sorting" folder
Deadline - 03/10/2021

[2021-10-02 16:33] SarthakKeshari commented on #147
@iamsunil25,
Go ahead, Kindly add your solution to "Sorting" folder
Deadline - 04/10/2021

[2021-10-02 16:35] SarthakKeshari commented on #148
@iamsunil25,
At a time more than 2 issues cannot be assigned.

[2021-10-02 16:39] SarthakKeshari commented on #144
@2000shivam659,
Kindly add your solution to "leetcode" folder.
Deadline - 03/10/2021

[2021-10-02 16:40] SarthakKeshari commented on #140
@2000shivam659,
A participant cannot be assigned more than 2 issues at a time

[2021-10-02 16:51] iamsunil25 commented on #148
no actually here you can assign this issue to another person

[2021-10-02 16:56] Architgupta001 commented on #145
Thank you @SarthakKeshari

[2021-10-02 16:57] iamsunil25 commented on #148
don't assign me this issue but for generating this issue you can give me point. isn't it?

[2021-10-02 17:02] iamsunil25 commented on #57
hey @SarthakKeshari how can someone get level x, level y, level z, level 5?

[2021-10-02 17:30] SarthakKeshari commented on #148
@iamsunil25,
Points are for PRs only.
You may complete the previous questions and claim this again

[2021-10-02 17:43] SarthakKeshari commented on #145
@Architgupta001,
Kindly add your solution to "Data Structure/Heap" folder
Deadline - 03/10/2021

[2021-10-02 17:58] satyam878 opened #152 "[Count 1's bit]"
### Enter your question -
Write a program that takes an unsigned integer and returns the number of '1' bits it has

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/number-of-1-bits/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
bit-manipulation

[2021-10-02 17:59] satyam878 commented on #152
Kindly approve @SarthakKeshari

[2021-10-02 18:11] SarthakKeshari commented on #152
@satyam878,
Kindly work on this completely. #59

[2021-10-02 18:22] #135 closed

[2021-10-02 18:29] iamsunil25 commented on #148
okay i got you

[2021-10-02 18:30] satyam878 commented on #152
I have completed all my remaining works please look into it

On Sat, Oct 2, 2021 at 11:42 PM SarthakKeshari ***@***.***>
wrote:

[2021-10-02 18:37] umang345 opened #154 "Median of two sorted arrays"
### Enter your question -
Given two sorted arrays, return the median of the two sorted arrays

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/median-of-two-sorted-arrays/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Binary Search

[2021-10-02 18:37] umang345 commented on #154
Can I work on this?

[2021-10-02 18:39] sachin4429 opened #155 "1828. Queries on Number of Points Inside a Circle"
### Enter your question -
You are given an array points where points[i] = [xi, yi] is the coordinates of the ith point on a 2D plane. Multiple points can have the same coordinates.

You are also given an array queries where queries[j] = [xj, yj, rj] describes a circle centered at (xj, yj) with a radius of rj.

For each query queries[j], compute the number of points inside the jth circle. Points on

[2021-10-02 18:40] sachin4429 commented on #155
Can I work on this issue for Hactoberfest 2021

[2021-10-02 18:44] SarthakKeshari commented on #152
@satyam878,
Code has **not** been commented.
Checklist has been filled in the wrong manner.

[2021-10-02 18:45] SarthakKeshari commented on #155
@sachin4429,
Kindly add your solution to "leetcode" folder.
Deadline - 03/10/2021

[2021-10-02 18:46] SarthakKeshari commented on #154
@umang345,
Kindly add your solution to "leetcode" folder.
Deadline - 04/10/2021

[2021-10-02 18:48] #144 closed

[2021-10-02 18:58] #136 closed

[2021-10-02 18:58] 2000shivam659 commented on #140
Now Please assign me this issue.

[2021-10-02 18:59] #111 closed

[2021-10-02 19:00] SarthakKeshari commented on #140
@2000shivam659,
Kindly add your solution to "leetcode" folder
Deadline - 04/10/2021

[2021-10-02 19:18] SarthakKeshari commented on #137
@ThexXTURBOXx,
Kindly add your solution to "String Handling" folder
Deadline - 04/10/2021

[2021-10-02 19:21] #155 closed

[2021-10-02 19:22] #146 closed

[2021-10-02 19:23] #147 closed

[2021-10-02 19:31] dineshparekh11 opened #159 "Fascinating Number or not"
### Enter your question -
Find given number is Fascinating Number or not

### Enter link to the question(if question belongs to any online platform) -
https://www.javatpoint.com/fascinating-number-in-java

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Basic,
![fascno1](https://user-images.githubusercontent.com/78658348/135729640-d3929f3e-318a-4edf-9132-1a7157397971.png)

[2021-10-02 19:32] dineshparekh11 commented on #159
Kindly assign #159 issue to me @SarthakKeshari

[2021-10-02 19:36] iamsunil25 commented on #149
@SarthakKeshari assign

[2021-10-02 19:36] iamsunil25 commented on #148
@SarthakKeshari

[2021-10-02 19:44] SarthakKeshari commented on #159
@dineshparekh11,
Kindly add your solution to "Number Theory" folder.
Deadline - 04/10/2021

[2021-10-02 19:48] #140 closed

[2021-10-02 19:49] #71 closed

[2021-10-02 19:57] #95 closed

[2021-10-02 20:16] SarthakKeshari commented on #133
@ThexXTURBOXx,
Kindly add your solution to "Arrays/2D Arrays" folder.
Deadline - 04/10/2021

[2021-10-02 20:36] #25 closed

[2021-10-02 21:38] #47 closed

[2021-10-02 23:37] satyam878 commented on #152
I have commented in code and please help me to fill the checklist as i am
getting it, like in what way you are expecting me to fill it.

On Sun, 3 Oct 2021, 12:14 am SarthakKeshari, ***@***.***>
wrote:

[2021-10-03 03:53] vish-han opened #161 "Armstrong Number"
### Enter your question -
You have a given a number , you have to find out is that number a Armstrong number or not.

### Enter link to the question(if question belongs to any online platform) -
https://www.google.com/amp/s/www.geeksforgeeks.org/program-for-armstrong-numbers/amp/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
JAVA , Armstrong number

[2021-10-03 03:53] vish-han commented on #161
Please assign this issue to me I can handle it easily..

[2021-10-03 04:03] SarthakKeshari commented on #161
@vish-han,
Kindly add you solution to "Number Theory" folder.
Deadline - 03/10/2021

[2021-10-03 04:04] vish-han commented on #161
Thanks sir for assigning me😄

[2021-10-03 04:05] SarthakKeshari commented on #152
@satyam878,
Checklist is filled -

[] Hello ➡  [x] Hello ✔

[2021-10-03 04:08] #134 closed

[2021-10-03 04:22] #69 closed

[2021-10-03 04:23] Krush2311 commented on #117
Can you please extend the deadline to 3 Oct, 21

[2021-10-03 04:27] SarthakKeshari commented on #117
@Krush2311,
I appreciated the sense of reponsibility.

New Deadline - 03/10/2021

[2021-10-03 04:32] Aditya01237 commented on #148
can i solve this issue  in java

[2021-10-03 04:32] Aditya01237 commented on #148
plz assign any question

[2021-10-03 04:33] RAshid602 commented on #125
"Kindly assign this issue to me"

[2021-10-03 04:36] SarthakKeshari commented on #148
@Aditya01237,
Go ahead, Kindly add your solution to "Sorting" folder
Deadline - 03/10/2021

[2021-10-03 04:36] HatimTai1 commented on #161
please assign this issue to me.

[2021-10-03 04:39] SarthakKeshari commented on #125
@RAshid602,
You may create a new issue "Add a question" and claim it.
Till the deadline it remains with the assigned.

[2021-10-03 04:41] SarthakKeshari commented on #125
@RAshid602,
Kindly create a new issue "Add a question" and claim it.
Till the deadline it remains with the assigned.

[2021-10-03 04:41] Krush2311 commented on #117
Thank you!

[2021-10-03 04:42] vish-han commented on #161
@HatimTai1 bro first come first serve...😃

[2021-10-03 04:42] SarthakKeshari commented on #161
@HatimTai1,
Kindly create a new issue "Add a question" and claim it.
Till the deadline issue remains with the assigned person.

[2021-10-03 04:46] HatimTai1 opened #163 "@HatimTai1,"

[2021-10-03 04:47] RAshid602 opened #164 "Searching and Sorting"
### Merge Sort in Java

### Enter link to the question(if question belongs to any online platform) -
NA

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Java, Searching and Sorting

[2021-10-03 04:48] RAshid602 commented on #164
"Kindly assign this issue to me"
I can solve this is easy way so that student can easily understand.

[2021-10-03 05:37] #163 closed

[2021-10-03 05:37] SarthakKeshari commented on #164
@RAshid602,
This issue has already been addressed

[2021-10-03 05:38] #117 closed

[2021-10-03 06:01] MohammedHassan07 commented on #131
@SarthakKeshari
Kindly assign this issue to me

[2021-10-03 06:40] SarthakKeshari commented on #131
@MohammedHassan07,
Kindly add your solution to "leetcode" folder.
Deadline - 04/10/2021

[2021-10-03 06:42] #154 closed

[2021-10-03 07:25] #164 closed

[2021-10-03 07:26] SarthakKeshari opened #171 "Tic-Tac-Toe(Admin Choice - Level X)"
### Enter your question -
Write a program for end user so that he/she can play tic-tac-toe game with computer or game can be played by two end users.

Fulfilling all the below conditions is necessary for PR to be accepted -
Game UI and working -
#### Find the question description here - [Tic-Tac-Toe.pdf](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/files/7272868/Tic-Tac-Toe.pdf)

[2021-10-03 07:26] SarthakKeshari commented on #171
Everyone,
Deadline - 08/10/2021

[2021-10-03 07:37] Venkatesh-24 opened #172 "NQueens"
### Enter your question
The n-queens puzzle is the problem of placing n queens on an n x n chessboard such that no two queens attack each other.
Given an integer n, we must return all distinct solutions to the n-queens puzzle.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/n-queens/

### Tags for the question(eg - Array, Basic, Stack, et

[2021-10-03 07:38] Venkatesh-24 commented on #172
Kindly assign this issue to me

[2021-10-03 07:39] mtwn105 commented on #171
Can I do it?

[2021-10-03 07:59] SarthakKeshari commented on #172
@Venkatesh-24,
Kindly add your solution to "leetcode" folder.
Deadline - 04/10/2021

[2021-10-03 08:00] SarthakKeshari commented on #171
@mtwn105,
Sure go ahead.

[2021-10-03 08:27] SarthakKeshari opened #176 "SemiSort 2"
### Enter your question -
Write a program to sort the array according to given condition.
Sort all the elements at even index in ascending order and all the elements at odd index in descending order.
#### Reminder - Array index starts from 0.

Example -
Input:
5
4 4 2 5 2

Output:
2 5 2 4 4

Explaination -
Array: 4 4 2 5 2
Index: 0 1 2 3 4

Now sorting even indexes in ascending order and odd index

[2021-10-03 08:28] Vedansh-Keshari commented on #176
@SarthakKeshari
Please kindly assign me this issue
I really wish to work upon this

[2021-10-03 08:39] #53 closed

[2021-10-03 08:40] satyam878 commented on #152
Kindly assign me this task i have completed with my previous PR's.

[2021-10-03 08:41] SarthakKeshari commented on #176
@Vedansh-Keshari,
Kindly add your solution to "Sorting" folder
Deadline - 04/10/2021

[2021-10-03 08:42] SarthakKeshari commented on #152
@satyam878,
Kindly add your solution to "leetcode" folder.
Deadline - 04/10/2021.

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-03 08:53] #116 closed

[2021-10-03 09:44] RAshid602 opened #178 "Replace pi with value of pi"
### Enter your question -
You will be given a string and if you find "pi" you will have to replace with "3.14"
and print. (Recursively)

### Enter link to the question(if question belongs to any online platform) -
https://www.geeksforgeeks.org/recursive-program-to-replace-all-occurrences-of-pi-with-3-14-in-a-given-string/

### Tags for the question
String, recursion

[2021-10-03 09:45] RAshid602 commented on #178
Assign this to me, I will solve this in a way which help student to  understand easily.

[2021-10-03 10:15] RAshid602 opened #179 "Count Inversion"
### Enter your question -
Given an array of integers. Find the Inversion Count in the array.

### Enter link to the question(if question belongs to any online platform) -
https://practice.geeksforgeeks.org/problems/inversion-of-array-1587115620/1

### Tags for the question
Array, sorting

[2021-10-03 10:15] RAshid602 commented on #179
Kindly Assign this to me,

[2021-10-03 10:41] MohammedHassan07 opened #182 "Find all missing number in array"
### Enter your question -
Find all missing number in array
you have given a array [1, n], you have to find the all missing number in the array
time complexity: O(n)
Sample input: [1 3 2 5 8 7 2 5]
output: [4 6]

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/find-all-numbers-disappeared-in-an-array/description/

### Tags for the question(

[2021-10-03 10:41] MohammedHassan07 commented on #182
@SarthakKeshari
kindly assign this issue to me

[2021-10-03 11:02] Kaustubh-git opened #183 "442. Find All Duplicates in an Array"
### Enter your question -
Given an integer array nums of length n where all the integers of nums are in the range [1, n] and each integer appears once or twice, return an array of all the integers that appears twice.

You must write an algorithm that runs in O(n) time and uses only constant extra space.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.

[2021-10-03 11:04] Kaustubh-git commented on #183
kindly assign me this issue @SarthakKeshari

[2021-10-03 11:05] SarthakKeshari commented on #183
@Kaustubh-git,
Kindly add your solution to "leetcode" folder.
Deadline - 04/10/2021

[2021-10-03 11:10] MohammedHassan07 commented on #182
@SarthakKeshari
Kindly assign this issue to me

[2021-10-03 11:13] Debdeep1 commented on #149
Please assign this task to me. I am a Java programmer.

[2021-10-03 11:31] SarthakKeshari commented on #178
@RAshid602,
Kindly mention the link to the question since its from an online platform

[2021-10-03 11:35] SarthakKeshari commented on #179
@RAshid602,
Kindly save your solution in "GeeksForGeeks" folder.
Deadline - 04/10/2021

[2021-10-03 11:38] #183 closed

[2021-10-03 11:44] RAshid602 commented on #178
i think its from GFG but i was unable to find it.
can i still do it?

[2021-10-03 11:53] Kaustubh-git opened #185 "Binary Search"
### Enter your question -
Write the program to perform binary search

### Enter link to the question(if question belongs to any online platform) -
no link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
searching, loop

[2021-10-03 11:54] Kaustubh-git commented on #185
kindly assign me this issue @SarthakKeshari

[2021-10-03 12:32] RAshid602 opened #187 "Next permutation"
### Enter your question -
Implement next permutation, which rearranges numbers into the lexicographically next greater permutation of numbers.
If such an arrangement is not possible, it must rearrange it as the lowest possible order (i.e., sorted in ascending order).

### Enter link to the question(if question belongs to any online platform) -
I had this question in my university exam.

### Tags f

[2021-10-03 12:33] RAshid602 commented on #187
Can you assign this to me, so that i can solve it.

[2021-10-03 12:54] SarthakKeshari commented on #57
By coming up with a proper real world issue proposal to solve.

[2021-10-03 12:59] SarthakKeshari commented on #57
@Monica-Chhabria, 👏
😃 I am glad to announce that that "Coding Library"✔ has been selected as the website name for this project.
Kindly create an issue with the title "🌟Website name" to contribute a word file to the repository stating the website name and the reason behind selecting that name.

[2021-10-03 13:00] SarthakKeshari commented on #178
Definitely

[2021-10-03 13:04] SarthakKeshari commented on #178
@RAshid602,
Go ahead, Kindly add your solution to "GeeksForGeeks" folder.
Deadline - 04/10/2021

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-03 13:08] SarthakKeshari commented on #187
@RAshid602,
Kindly add your solution to "Number Theory" folder.
Deadline - 04/10/2021

[2021-10-03 13:10] SarthakKeshari commented on #182
@MohammedHassan07,
Kindly add your solution in "Arrays/1D Arrays" folder
Deadline - 04/10/2021

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-03 13:10] SarthakKeshari commented on #185
@Kaustubh-git,
Kindly add your solution to "Searching" folder
Deadline - 04/10/2021

[2021-10-03 13:12] #152 closed

[2021-10-03 13:14] tandrimasingha commented on #185
Name: Tandrima Singha
Domain: Java
Hello @SarthakKeshari Sir Please assign this task to me . I am very good at java

[2021-10-03 13:16] tandrimasingha commented on #148
Name: Tandrima Singha
Domain: Java
Hello @SarthakKeshari Sir please assign this task to me

[2021-10-03 13:17] SarthakKeshari commented on #185
@tandrimasingha,
Since the process followed is First come First Serve. So for now I would suggest you to create a new issue and claim it.
Kindly refer CONTRIBUTING.md for further details

[2021-10-03 13:19] SarthakKeshari commented on #148
@tandrimasingha,
Since the process followed is First come First Serve. So for now I would suggest you to create a new issue and claim it.
Kindly refer CONTRIBUTING.md for further details

[2021-10-03 13:20] tandrimasingha opened #188 "Insertion Sort"
### Enter your question -
Write a program on Insertion Sort

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Sorting Algorithm

[2021-10-03 13:21] tandrimasingha commented on #188
Hello @SarthakKeshari Sir please assign me this issue

[2021-10-03 13:23] tandrimasingha opened #189 "Queue"
### Enter your question -
write a program on the Implementation of the queue

### Enter link to the question(if question belongs to any online platform) -
no link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Queue Data Structure

[2021-10-03 13:24] tandrimasingha commented on #189
Hello @SarthakKeshari Sir please assign this issue to me

[2021-10-03 13:24] SarthakKeshari commented on #188
@tandrimasingha,
Kindly save your solution to "Sorting" folder.
Deadline - 04/10/2021

[2021-10-03 13:27] #123 closed

[2021-10-03 13:28] SarthakKeshari commented on #189
@tandrimasingha,
Kindly add title

[2021-10-03 13:33] SarthakKeshari commented on #149
@Debdeep1,
Go ahead, Kindly add your solution to "Sorting" folder
Deadline - 03/10/2021

[2021-10-03 13:39] tandrimasingha commented on #189
@SarthakKeshari Sir . I added the title . Please assign this to me

[2021-10-03 13:53] SarthakKeshari commented on #189
@tandrimasingha,
Kindly add your solution to "Data Structure/Queue/Basic Queue" folder
Deadline - 04/10/2021

[2021-10-03 15:07] #119 closed

[2021-10-03 15:28] Monica-Chhabria opened #193 "🌟Website name"
### Enter your question -
Contribute a word file to the repository stating the website name and the reason behind selecting that name.
### Enter link to the question(if question belongs to any online platform) -
NA

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Website Name

[2021-10-03 15:47] #185 closed

[2021-10-03 15:51] #138 closed

[2021-10-03 16:33] MohammedHassan07 opened #195 "Find the number in sorted rotated array"
### Enter your question -
Given a sorted rotated array and a target number
You have to find the target number is present or not

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/search-in-rotated-sorted-array/description/

### Tags for the question(eg - Array, Basic, Stack, etc) -
Array, search

[2021-10-03 16:34] MohammedHassan07 commented on #195
@SarthakKeshari
Please assign this issue to me

[2021-10-03 17:30] neelshah2409 opened #199 "Java Abstract Class [Hackerrank]"
### Enter your question -
A Java abstract class is a class that can't be instantiated. That means you cannot create new instances of an abstract class. It works as a base for subclasses. You should learn about Java Inheritance before attempting this challenge.

Following is an example of abstract class:

abstract class Book{
    String title;
    abstract void setTitle(String s);
    String getTit

[2021-10-03 18:47] SarthakKeshari commented on #193
@Monica-Chhabria,
Congratulations🎉 and Thankyou🎁 for coming up with a catchy and innovative title.
I invite you to add more value to the project by creating a pull request.

Title of PR - "🌟Website name declaration"
Body of PR -
Your suggest title
Reason for the title (more than 40 words for the reason will be appreciated)

Also attach a website_name.txt file containing the same details as body of

[2021-10-03 18:47] SarthakKeshari commented on #193
Deadline - 05/10/2021

[2021-10-03 19:11] #176 closed

[2021-10-03 19:24] #182 closed

[2021-10-03 20:12] AnuragYadav365 opened #200 "Lapindrome Strings"
### Enter your question -
Lapindrome is defined as a string which when split in the middle, gives two halves having the same characters and same frequency of each character. If there are odd number of characters in the string, we ignore the middle character and check for lapindrome. For example abccab is a lapindrome, since the two halves abc and cab have the same characters with same frequency.

[2021-10-03 20:13] AnuragYadav365 commented on #200
Please assign me under hacktoberfest . So I can make a PR under this issue.

[2021-10-03 20:30] SarthakKeshari commented on #200
@AnuragYadav365,
Kindly add your solution to "codechef" folder.
Deadline - 04/10/2021

[2021-10-03 20:50] SarthakKeshari commented on #199
@neelshah2409,
Kindly add your solution to "Hackerrank" folder.
Deadline - 04/10/2021

[2021-10-03 20:57] #172 closed

[2021-10-03 20:58] #125 closed

[2021-10-03 21:06] SarthakKeshari commented on #195
@MohammedHassan07,
Kindly add your solution to "leetcode" folder
Deadline - 04/10/2021

[2021-10-04 02:44] #137 closed

[2021-10-04 02:47] #179 closed

[2021-10-04 03:10] satyam878 opened #205 "Find Unique Binary String"
### Enter your question -
Given an array of strings nums containing n unique binary strings each of length n, return a binary string of length n that does not appear in nums. If there are multiple answers, you may return any of them.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/find-unique-binary-string/

### Tags for the question(eg -

[2021-10-04 03:17] #133 closed

[2021-10-04 03:26] #161 closed

[2021-10-04 03:28] #131 closed

[2021-10-04 03:33] #68 closed

[2021-10-04 03:38] SarthakKeshari commented on #73
@Ankurrsingh,
Deadline crossed.

[2021-10-04 03:39] SarthakKeshari commented on #82
@Anova07,
Kindly go through CONTRIBUTING.md

[2021-10-04 03:40] SarthakKeshari commented on #82
@ishaangupta-YB,
Deadline crossed

[2021-10-04 03:40] SarthakKeshari commented on #87
@shrushti2001,
Deadline crossed

[2021-10-04 03:41] SarthakKeshari commented on #106
@divya1509,
Deadline crossed

[2021-10-04 03:41] #106 closed

[2021-10-04 03:42] SarthakKeshari commented on #139
@2000shivam659,
Deadline crossed

[2021-10-04 03:44] SarthakKeshari commented on #148
@Aditya01237,
Deadline crossed

[2021-10-04 03:47] AayushBangroo commented on #87
Please assign this to me @SarthakKeshari

[2021-10-04 04:01] SarthakKeshari commented on #87
@AayushBangroo,
Kindly add your solution to "Bit Manipulation" folder.
Deadline - 04/10/2021

[2021-10-04 04:29] RAshid602 opened #207 "MergeInterval"
### Enter your question -
Given an array of intervals where intervals[i] = [starti, endi], merge all overlapping intervals, and return an array of the non-overlapping intervals that cover all the intervals in the input.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/merge-intervals/

### Tags for the question-
Arrays

[2021-10-04 04:29] RAshid602 commented on #207
kindly assign this to me.

[2021-10-04 04:45] #187 closed

[2021-10-04 04:46] #188 closed

[2021-10-04 04:47] SarthakKeshari commented on #207
@RAshid602,
Kindly add your solution to "leetcode" folder
Deadline - 05/10/2021

[2021-10-04 05:39] Rishi098 opened #208 "2D array with odd number of columns"
How can we make 2D Array with Odd number of columns

[2021-10-04 05:40] Rishi098 commented on #208
assign this issue to me i will do my best

[2021-10-04 05:47] SarthakKeshari commented on #208
@Rishi098,
Kindly follow CONTRIBUTING.md and Issue template structure.

[2021-10-04 05:49] Rishi098 commented on #208
ohk

[2021-10-04 05:52] #208 closed

[2021-10-04 05:54] Kaustubh-git opened #209 "Finding factorial of a numbers using recursion"
### Enter your question -
Finding factorial of a numbers using recursion

### Enter link to the question(if question belongs to any online platform) -
no link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Recursion,Basics

[2021-10-04 05:55] Kaustubh-git commented on #209
kindly assign me this issue @SarthakKeshari

[2021-10-04 06:02] Rishi098 opened #210 "2D Array using Odd number of columns"
### Enter your question -

If two-dimensional array in java is an array-of-arrays, then it should also support non-symmetric sizes like [2][3], [3],[2], etc..
so try to make 2D Array using Odd number of columns and print

### Enter link to the question(if question belongs to any online platform) -
no didn't find anything

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array , Basic

[2021-10-04 06:02] Rishi098 commented on #210
Kindly assign this issue to me

[2021-10-04 06:05] SarthakKeshari commented on #210
@Rishi098,
Kindly elaborate on your question.

[2021-10-04 06:09] SarthakKeshari commented on #209
@Kaustubh-git,
This has already been addressed kindly visit "Basic codes" folder

[2021-10-04 06:09] #209 closed

[2021-10-04 06:35] Rishi098 commented on #210
done

[2021-10-04 06:41] SarthakKeshari commented on #210
@Rishi098,
Generics are used for this purpose. So using arrays for the purpose will make it very inefficient. Kindly come up with some other question.

[2021-10-04 06:42] #210 closed

[2021-10-04 06:56] Kaustubh-git opened #212 "Searching element in an array within given range."
### Enter your question -
Searching element in an array within given range.

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array,searching

[2021-10-04 06:57] Lakshay-Pruthi commented on #212
Can i work on this issue.

[2021-10-04 06:58] Kaustubh-git commented on #212
Kindly assign me this issue @SarthakKeshari

[2021-10-04 07:04] Lakshay-Pruthi commented on #148
Hey @SarthakKeshari ,Can you assign it to me now.

[2021-10-04 07:08] SarthakKeshari commented on #212
@Lakshay-Pruthi,
Kindly add your solution to "Searching" folder.
Deadline - 04/10/2021

[2021-10-04 07:09] #159 closed

[2021-10-04 07:13] SarthakKeshari commented on #148
@Lakshay-Pruthi,
Go ahead, Kindly add your solution to "Sorting" folder
Deadline - 05/10/2021

[2021-10-04 07:19] Kaustubh-git opened #213 "String searching"
### Enter your question -
check whether given(target) character is present in a string or not.

### Enter link to the question(if question belongs to any online platform) -
no link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
String,searching,basic

[2021-10-04 07:19] Kaustubh-git commented on #213
kindly assign me this issue @SarthakKeshari

[2021-10-04 07:27] #139 closed

[2021-10-04 07:31] SarthakKeshari commented on #213
@Kaustubh-git,
Kindly add your solution to "String Handling" folder
Deadline - 04/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
A bit more tough questions would be appreciated for Hacktoberfest tag.

[2021-10-04 07:33] Kaustubh-git commented on #213
@SarthakKeshari ok

[2021-10-04 08:56] Anova07 commented on #82
@SarthakKeshari is this issue assigned to me, can I work on it and provide a solution to this question ?

[2021-10-04 09:10] Anova07 commented on #73
@SarthakKeshari kindly assign this task to me

[2021-10-04 09:37] Anova07 opened #218 "Sort array after converting elements to their squares"
### Enter your question -
Sort the array after converting elements to their squares

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/squares-of-a-sorted-array/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Sorting

[2021-10-04 09:38] Anova07 commented on #218
Kindly assign this issue to me @SarthakKeshari

[2021-10-04 10:19] satyam878 commented on #205
Kindly assign me @SarthakKeshari

[2021-10-04 10:22] SarthakKeshari commented on #205
@satyam878,
Kindly add you solution to "leetcode" folder
Deadline - 04/10/2021

[2021-10-04 10:24] SarthakKeshari commented on #218
@Anova07,
Kindly add your solution to "leetcode" folder
Deadline - 04/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-04 10:31] SarthakKeshari commented on #82
@Anova07,
Now since the deadline is crossed you can solve this.
Kindly add your solution to "leetcode" folder.
Deadline - 02/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-04 10:32] #87 closed

[2021-10-04 10:33] SarthakKeshari commented on #82
@Anova07,
Now since the deadline is crossed you can solve this.
Kindly add your solution to "leetcode" folder.
Deadline - 05/10/2021

[2021-10-04 10:53] #205 closed

[2021-10-04 10:55] #199 closed

[2021-10-04 11:00] basic-bhavya opened #220 "3 Sum"
### Enter your question -
Given an integer array nums, return all the triplets [nums[i], nums[j], nums[k]] such that i != j, i != k, and j != k, and nums[i] + nums[j] + nums[k] == 0.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/3sum/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, 2-pointer, Sorting

[2021-10-04 11:00] basic-bhavya commented on #220
kindly assign this to me

[2021-10-04 11:03] SarthakKeshari commented on #220
@basic-bhavya,
Kindly add your solution to "leetcode" folder.
Deadline - 05/10/2021

[2021-10-04 11:24] Anova07 commented on #218
@SarthakKeshari  kindly view my PR if valid under hacktoberfest - PR #221

[2021-10-04 12:12] Ajax-07 opened #224 "Add top interview dynamic programming questions"
### A brief about your proposal -
I have already added dynamic programming questions and raised PR please check and merge

[2021-10-04 14:33] ravi0213 opened #225 "Find a median in two sorted arrays"
**Enter your question -**

Given two sorted arrays of size `n` and `m`, find a median in two sorted arrays. Expected complexity is O(lg(n+m)).

**Enter link to the question(if question belongs to any online platform) -**

https://leetcode.com/problems/median-of-two-sorted-arrays/

**Tags for the question(eg - Array, Basic, Stack, etc.) -**

Binary search

[2021-10-04 14:33] ravi0213 commented on #225
@SarthakKeshari could you please assign this to me?
Thanks

[2021-10-04 15:54] ravi0213 commented on #225
I have updated the issue description with correct template.

[2021-10-04 15:59] SarthakKeshari commented on #225
@ravi0213,
Kindly check the repo. This question has been addressed

[2021-10-04 16:00] ravi0213 commented on #225
Cool, I will close it then.

[2021-10-04 16:00] #225 closed, assigned to nobody

[2021-10-04 16:09] ravi0213 opened #227 "Find longest palindromic substring"
### Enter your question -
Given a string of size n, find the longest palindromic substring. Expected time complexity is O(n\*n) and space complexity is O(n\*n).

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/longest-palindromic-substring/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Dynamic programming

[2021-10-04 16:16] #178 closed

[2021-10-04 16:20] SarthakKeshari commented on #227
@ravi0213,
Kindly add your solution to "leetcode" folder.
Deadline - 05/10/2021

[2021-10-04 16:21] SarthakKeshari commented on #224
@Ajax-07,
Kindly state clearly what you wish to say

[2021-10-04 16:26] vish-han opened #228 "Maximum and Minimum value in array"
### Enter your question -
Your are given an array , you have to find the maximum and minimum value in the array.
### Enter link to the question(if question belongs to any online platform) -
NIL
### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Basic

[2021-10-04 16:27] vish-han commented on #228
@SarthakKeshari  Please assign this issue to me ..

[2021-10-04 16:38] SarthakKeshari commented on #228
@vish-han,
Kindly add your solution to "" folder.
Deadline - 05/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
More tough questions would be appreciated for Hacktoberfest tag.

[2021-10-04 16:43] erickcernarequejo opened #229 "The maximum product of adjacent elements in Java"
Write a program that reads an array of ints and outputs the maximum product of two adjacent elements in the given array of non-negative numbers.

### Enter link to the question(if question belongs to any online platform) -
```N/A```

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Basic

![image](https://user-images.githubusercontent.com/8706329/135890660-d2dfaca1-81e1-4e0f-91c1

[2021-10-04 16:45] #148 closed

[2021-10-04 16:50] SarthakKeshari commented on #229
@erickcernarequejo,
Kindly add you solution to "Arrays/1D Arrays" folder.
Deadline - 05/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
A bit more tough questions would be appreciated for Hacktoberfest tag.

[2021-10-04 16:56] #227 closed

[2021-10-04 16:57] vish-han commented on #228
which folder?

[2021-10-04 16:58] SarthakKeshari commented on #228
@vish-han,
Really sorry for not specifying

[2021-10-04 17:04] #195 closed

[2021-10-04 17:08] vish-han opened #231 "Rotate The Matrix by 90 deg"
### Enter your question -
you have to rotate the 2D array by 90 degrees

### Enter link to the question(if question belongs to any online platform) -
https://www.geeksforgeeks.org/rotate-a-matrix-by-90-degree-in-clockwise-direction-without-using-any-extra-space/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
2D Array, Matrix

[2021-10-04 17:08] vish-han commented on #231
Please assign this issue to me and add the hacktoberfest tag

[2021-10-04 17:18] aakashjain294 commented on #73
please assign this issue to me, I am very proficient in the java language you can check my DsAlgo repository

[2021-10-04 17:26] Lakshay-Pruthi opened #232 "Container With Most Water"
### Enter your question -
Given n non-negative integers a1, a2, ..., an , where each represents a point at coordinate (i, ai). n vertical lines are drawn such that the two endpoints of the line i is at (i, ai) and (i, 0). Find two lines, which, together with the x-axis forms a container, such that the container contains the most water.

Notice that you may not slant the container.

### Enter link

[2021-10-04 17:26] SarthakKeshari commented on #73
@Anova07
Kindly add your solution to "leetcode" folder.
Deadline - 05/10/2021

[2021-10-04 17:26] Lakshay-Pruthi commented on #232
@SarthakKeshari can you assign it to me??

[2021-10-04 17:40] SarthakKeshari commented on #232
@Lakshay-Pruthi,
Kindly add your solution to "leetcode" folder
Deadline - 05/10/2021

[2021-10-04 17:53] SarthakKeshari commented on #231
@vish-han,
Kindly add your solution to "GeeksForGeeks" folder.
Deadline - 04/10/2021

[2021-10-04 17:54] vish-han commented on #231
@SarthakKeshari please add hacktoberfest tag

[2021-10-04 17:56] SarthakKeshari commented on #231
@vish-han,
I wish to add one more point, you have a consistent contribution to the repository. I would be glad if you could come up with questions that are completely created by you or from your college assignments. That will help the repository to have a very valuable input from your end.

[2021-10-04 17:59] erickcernarequejo commented on #229
I understand, thank you.

[2021-10-04 18:05] SarthakKeshari commented on #231
@vish-han,
All the best

[2021-10-04 18:10] Lakshay-Pruthi opened #235 "Sort Colors"
### Enter your question -
Sort colors

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/sort-colors/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Arrays
![leetcode 2](https://user-images.githubusercontent.com/91469717/135902238-97378a75-b73b-4fa4-8bf3-b5c1eedc9df7.png)

[2021-10-04 18:12] Lakshay-Pruthi commented on #235
added this new one because previous one was already in the folder @SarthakKeshari assign this to me.

[2021-10-04 18:12] #232 closed

[2021-10-04 18:14] SarthakKeshari commented on #235
@Lakshay-Pruthi,
Firstly, very glad to see such a responsible behaviour.
Kindly add your solution to "leetcode" folder.
Deadline - 05/10/2021

[2021-10-04 18:25] #213 closed

[2021-10-04 18:29] SarthakKeshari commented on #212
@Kaustubh-git,
Kindly do not close the Issue. Its still assigned to @Lakshay-Pruthi.

[2021-10-04 18:41] Sakshamgupta90 opened #237 "LRU Cache"
### Enter your question -
LRU Cache

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/lru-cache/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Linked List

@SarthakKeshari Can you please assign me this issue?

[2021-10-04 18:46] SarthakKeshari commented on #237
@Sakshamgupta90,
Kindly add your solution to "leetcode" folder.
Deadline - 05/10/2021

[2021-10-04 18:59] Sakshamgupta90 opened #239 "Burst Balloons"
### Enter your question -
Burst Balloons

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/burst-balloons/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Dynamic Programming

@SarthakKeshari Can I also add this question?

[2021-10-04 19:11] SarthakKeshari commented on #239
@Sakshamgupta90,
Kindly add your solution to "leetcode" folder.
Deadline - 05/10/2021

[2021-10-04 20:50] Vedansh-Keshari opened #241 "Inner Diamond Pattern"
### Enter your question -
Write a program to print a diamond on a 7 x 7 grid matrix

### Enter link to the question(if question belongs to any online platform) -
NO link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
use of if else statements and looping statements

[2021-10-04 20:51] Vedansh-Keshari commented on #241
@SarthakKeshari
Kindly mark this issue for Hacktoberfest and assign me this to solve

[2021-10-04 20:53] Vedansh-Keshari opened #242 "Outer Diamond Pattern"
### Enter your question -
Write a program to print a diamond void on a 7 x 7 grid matrix

### Enter link to the question(if question belongs to any online platform) -
No links

### Tags for the question(eg - Array, Basic, Stack, etc.) -
use of if else statements and looping statements

[2021-10-04 20:53] Vedansh-Keshari commented on #242
@SarthakKeshari
Kindly mark this issue for Hacktoberfest and assign me this to solve

[2021-10-04 21:44] Harsh-bartariya commented on #239
kindly assign this issue to me. i have the solution of this problem can i add.

[2021-10-05 02:56] vyom18 opened #244 "maximum SubArray"
We can find the maximum sum of a subarray.

[2021-10-05 04:09] SarthakKeshari commented on #244
@vyom18,
Kindly check in the probable folders of repo whether this has been addressed or not. If not create "Add a question" issue and claim it.

[2021-10-05 04:12] SarthakKeshari commented on #239
@Harsh-bartariya,
Its great to see your interest to solve the question. But deadline ain't over yet. You may refer to CONTRIBUTING.md for getting futher details and guidelines on how to contribute to this repo.

[2021-10-05 04:15] SarthakKeshari commented on #242
@Vedansh-Keshari,
Kindly create "Pattern Printing" folder and add your solution to it.
Deadline - 06/10/2021

[2021-10-05 04:16] SarthakKeshari commented on #241
@Vedansh-Keshari,
Kindly create "Pattern Printing" folder and add your solution to it.
Deadline - 06/10/2021

[2021-10-05 04:17] vyom18 opened #245 "Maximum Subarray"
### Enter your question -
Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

A subarray is a contiguous part of an array.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/explore/interview/card/top-interview-questions-easy/97/dynamic-programming/566/

### Tags fo

[2021-10-05 04:19] vyom18 commented on #244
I have created add a question issue

[2021-10-05 04:20] #244 closed

[2021-10-05 04:21] SarthakKeshari commented on #245
@vyom18,
Kindly add your solution to "leetcode" folder.
Deadline - 05/10/2021

[2021-10-05 04:29] Kaustubh-git commented on #212
@SarthakKeshari
Lakshay's deadline was 04/10/2021 its over now can you reassign to me?

[2021-10-05 04:32] SarthakKeshari commented on #212
@Kaustubh-git,
Kindly add your solution to "Searching" folder.
Deadline - 06/10/2021

[2021-10-05 06:29] #237 closed

[2021-10-05 06:30] #212 closed

[2021-10-05 06:43] #239 closed

[2021-10-05 07:44] ravi0213 opened #250 "Predict the winner"
### Enter your question -
Two players are playing a game with a given array of size `n`. Both players make their turn alternatively. In each turn, a player will pick the array element from either end and add it to their score. Assuming both players play this game optimally, we need to tell if player 1 wins or not. If there is a tie then player 1 wins.

### Enter link to the question(if question be

[2021-10-05 07:44] ravi0213 commented on #250
@SarthakKeshari could you please assign this to me?

[2021-10-05 07:57] Lakshay-Pruthi commented on #235
@SarthakKeshari here it is #251 .

[2021-10-05 08:45] vish-han opened #253 "Maximum Size Rectange"
### Enter your question -
Given a binary matrix M of size n X m. Find the maximum area of a rectangle formed only of 1s in the given matrix.

### Enter link to the question(if question belongs to any online platform) -
NA
### Tags for the question(eg - Array, Basic, Stack, etc.) -
Matrix ,2D Array

[2021-10-05 09:20] SarthakKeshari commented on #250
@ravi0213,
Kindly add your solution to "leetcode" folder
Deadline - 06/10/2021

[2021-10-05 09:24] #235 closed

[2021-10-05 09:26] #231 closed

[2021-10-05 09:55] MohammedHassan07 opened #255 "Find peak element in array"
### Enter your question -

![leetCode](https://user-images.githubusercontent.com/90477795/136001392-103a4ddc-9c5e-402d-a66b-d2ff5e6a2b9b.png)

### Enter link to the question(if question belongs to any online platform) -

https://leetcode.com/problems/find-peak-element/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Searching, leetcode medium

[2021-10-05 09:55] MohammedHassan07 commented on #255
@SarthakKeshari
Kindly assign this issue to me

[2021-10-05 10:40] Gourav-s12 commented on #149
can i get this issue?

[2021-10-05 11:18] SarthakKeshari commented on #255
@MohammedHassan07,
Kindly add your solution to "leetcode" folder.
Deadline - 06/10/2021

[2021-10-05 11:19] SarthakKeshari commented on #149
@Gourav-s12,
Go ahead, Kindly add your solution to "Sorting" folder
Deadline - 06/10/2021

[2021-10-05 11:45] Gourav-s12 commented on #189
can i get the issue?
i will do it by today

[2021-10-05 11:51] #250 closed

[2021-10-05 11:52] SarthakKeshari commented on #189
@Gourav-s12,
Kindly add your solution to "Data Structure/Queue/Basic Queue" folder
Deadline - 06/10/2021

[2021-10-05 12:20] iamsunil25 opened #257 "[Question Title]"
### Enter your question -
Q. print all substring of a given string in java?
input = abc
output =  a,ab,abc,     b,bc,      c

### Enter link to the question(if question belongs to any online platform) -
NA

### Tags for the question(eg - Array, Basic, Stack, etc.) -
String

[2021-10-05 12:21] iamsunil25 commented on #257
@SarthakKeshari can you assign me this issue?

[2021-10-05 12:26] iamsunil25 opened #258 "longest common substring between 2 string"
### Enter your question -
Q. length of longest common substring between 2 string in java?
input  = 1. "sunil " 2. "sunita"
output= 4 (suni)

### Enter link to the question(if question belongs to any online platform) -
NA

### Tags for the question(eg - Array, Basic, Stack, etc.) -
String

[2021-10-05 12:26] iamsunil25 commented on #258
@SarthakKeshari  assign me this issue.

[2021-10-05 12:33] iamsunil25 opened #259 "longest common subsequence of 2 string"
### Enter your question -
Q. length of longest common subsequence of 2 string in java ?
input =   s1 = "AGGTAB" s2 = "GXTXAYB";
output =4 (GTAB)
### Enter link to the question(if question belongs to any online platform) -
https://www.geeksforgeeks.org/longest-common-subsequence-dp-4/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
String, Dynamic Programming

[2021-10-05 12:58] SarthakKeshari commented on #257
@iamsunil25,
I wish to add something to this question. May I?

[2021-10-05 13:14] Gourav-s12 commented on #189
I have made a only a basic queue .Because you said "Kindly add your solution to "Data Structure/Queue/Basic Queue" folder". please do correct me if i am wrong. And thank you.

[2021-10-05 13:17] #224 closed

[2021-10-05 13:33] SarthakKeshari commented on #258
@iamsunil25,
I wish to reform this question and will put it under admin-choice

[2021-10-05 13:56] culeAkash commented on #259
I can do this by using dp

[2021-10-05 14:32] SarthakKeshari commented on #257
### Enter your question -
Q. print all substring of a given string in java?
Condition -
Print the substring only when the characters in the substring are strictly in increasing ASCII order.
Remember -
ASCII values of each character needs to be considered.

Order of output is not important.

input = abc
output =  a, ab, abc, b, bc, c

input = cab
output = c, a, ab, b

### Enter link to the question

[2021-10-05 14:45] SarthakKeshari commented on #257
@iamsunil25,
Updated question

### Enter your question -
Q. print all substring of a given string in java?
#### Condition -
1) Print the substring only when the characters in the substring are strictly in increasing ASCII order.
2) Print the output in sorted decreasing order using inbuilt functions only.
3) There should not be any repeated substring.

Remember -
ASCII values of each character need

[2021-10-05 14:48] SarthakKeshari commented on #257
@iamsunil25,
Kindly add your solution to "String Handling" folder.
Also mention "(admin-choice)" word in your filename and PR title.
Deadline - 07/10/2021

[2021-10-05 14:55] iamsunil25 commented on #258
okk

[2021-10-05 14:58] iamsunil25 commented on #257
ok thanks @SarthakKeshari  i got u

[2021-10-05 15:03] SarthakKeshari commented on #258
@iamsunil25,
I wish to correct myself instead of admin-choice it would be appreciation tag.

[2021-10-05 16:17] Harsh-bartariya opened #264 "[Java End-of-file]"
### Enter your question -
"In computing, End Of File (commonly abbreviated EOF) is a condition in a computer operating system where no more data can be read from a data source.
The challenge here is to read  lines of input until you reach EOF, then number and print all  lines of content.

Hint: Java's Scanner.hasNext() method is helpful for this problem.

Input Format

Read some unknown  lines of

[2021-10-05 16:18] Harsh-bartariya commented on #264
Please assign this issue to me. i can solve it

[2021-10-05 16:19] SarthakKeshari commented on #264
@Harsh-bartariya,
Kindly add your solution to "hackerrank" folder
Deadline - 06/10/2021

[2021-10-05 16:20] Harsh-bartariya commented on #264
Ok sir thank you.

[2021-10-05 16:23] Monica-Chhabria commented on #193
Hi @SarthakKeshari can you help me how to raise pr without changing anything in the repo as you are telling to write discription and attach file also in pr. Github is not allowing to raise pr without doing any changes in repo

[2021-10-05 17:03] Harsh-bartariya commented on #264
Sir firstly i solved this question on hackerrank
sir is it against the guidelines and the code of conduct
i can make PR this time but this just came in my mind can you please clarify it.....please

[2021-10-05 17:08] SarthakKeshari commented on #264
@Harsh-bartariya,
The repository support an original submission(completely written by you). It does not matter whether it was done just now was previously. The guidelines only says to be true and original.

[2021-10-05 17:09] SarthakKeshari commented on #264
@Harsh-bartariya,
One more point I wish to add.
This Issue will be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-05 17:15] Harsh-bartariya commented on #264
Yes sir thank you...the solution is completely written by me and i can explain the logic as well
and again thanks for the lables you added

[2021-10-05 17:23] #189 closed

[2021-10-05 17:26] SarthakKeshari commented on #193
@Monica-Chhabria,
Kindly do the changes in the repo. That's only how you can merge it. If any errors occur. I will handle that. Go ahead.

[2021-10-05 17:34] Monica-Chhabria commented on #193
In which folder to add txt file @SarthakKeshari

[2021-10-05 17:35] Gourav-s12 commented on #145
Is this issue  solved?
If not , then can I work in this issue?

[2021-10-05 17:49] vish-han commented on #253
@SarthakKeshari please assign this issue to me..

[2021-10-05 17:52] SarthakKeshari commented on #258
@iamsunil25,
Updated question

### Enter your question -
Q. length of longest common substring between 2 strings permutations in java?

NOTE - Lowercase and Uppercase alphabets will be treated differently
Sample Test case 1
Input -
cat
tackle

Output -
3

Explaination -
Permutations of "cat" are - cat, act, tca, cta, atc, tac
Permutations of "tackle" are - tackle, atckle, ctakle, tcakle, actkle, c

[2021-10-05 18:22] SarthakKeshari commented on #258
@iamsunil25,
Kindly add your solution to "String Handling" folder.
Also mention "(admin-choice)" word in your filename and PR title.
Deadline - 06/10/2021

[2021-10-05 18:35] SarthakKeshari commented on #193
@Monica-Chhabria,
Outside only, no need to place inside any specific folder

[2021-10-05 18:47] SarthakKeshari commented on #253
@vish-han,
I wish to add to this question. May I?

[2021-10-05 18:53] SarthakKeshari commented on #145
@Gourav-s12,
Kindly add your solution to "Data Structure/Heap" folder
Deadline - 06/10/2021

[2021-10-05 19:16] vish-han commented on #253
No problem go ahead

[2021-10-05 19:32] SarthakKeshari commented on #253
### Enter your question -
Given a binary matrix M of size n X m. Find the area of a rectangle formed only of 1s in the given matrix and area of a rectangle formed only of 0s in the given matrix. Print the maximum one between the two along with the co-ordinates(top-left, top-right, bottom-left, bottom-right) of the maximum area rectangle.

In case of equal area go with anyone.

Sample Test case
Inp

[2021-10-05 19:33] SarthakKeshari commented on #253
@vish-han,
Kindly add your solution to "Arrays/2D Arrays" folder.
Also mention "(admin_choice)" in filename and PR title.
Deadline - 07/10/2021

[2021-10-05 19:35] #228 closed

[2021-10-05 19:35] SarthakKeshari commented on #259
@culeAkash,
Kindly add your solution to "leetcode" as well as "GeeksForGeeks" folder.
Deadline - 06/10/2021

[2021-10-05 20:28] #264 closed

[2021-10-06 01:39] nik132-eng opened #267 "Majority Element"
### Enter your question -
Given an array nums of size n, return the majority element.

The majority element is the element that appears more than ⌊n / 2⌋ times. You may assume that the majority element always exists in the array.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/majority-element/

### Tags for the question(eg - Array, Basic

[2021-10-06 01:39] nik132-eng commented on #267
Can you please assign me this issue for hacktoberfest

[2021-10-06 01:57] nik132-eng opened #268 "Majority Element II"
### Enter your question -
Given an integer array of size n, find all elements that appear more than ⌊ n/3 ⌋ times.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/majority-element-ii/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Sorting , counting

[2021-10-06 01:57] nik132-eng commented on #268
can you please assign me this issue for hacktoberfest

[2021-10-06 02:01] SarthakKeshari commented on #267
@nik132-eng,
Kindly add your solution to "leetcode" folder.
Deadline - 06/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-06 02:06] #73 closed

[2021-10-06 04:30] vijoyaliyan opened #269 "[Question Title]"
### Enter your question -
Create a program to sort and print the Boundary Elements of a 2 Dimensional Matrix

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic, Array

[2021-10-06 05:35] vijoyaliyan commented on #269
@SarthakKeshari Sure. Please do.

[2021-10-06 06:15] mtwn105 commented on #171
Hi @SarthakKeshari opened PR for this :D

[2021-10-06 07:33] mtwn105 commented on #171
Sure. I had a question that this repo is considered for "Hacktoberfest" or not because many other DSA repos were excluded

[2021-10-06 07:41] Gourav-s12 commented on #145
i have submitted a pull request please check.
can i ask something? @SarthakKeshari
how to get level2, level3 tags?
do i have any tag / how to get it? (sorry, i am new to github)

[2021-10-06 08:04] SarthakKeshari commented on #171
@mtwn105,
Yes, I got the info regarding that. Since the name only says "Java-Questions-and-Solutions" but plan is to work with website building. Creating a knowledge hub of Java. Initial part was the DSA one so that people get to begin with open source. This repo aims to be beginner friendly.

[2021-10-06 08:14] SarthakKeshari commented on #145
@Gourav-s12,
Tags are being used by me as a ranking criteria of questions as well as Contributors. Rankers are being display on the ranklist.
[Ranklist](https://sarthakkeshari.github.io/Java-and-CPP-Questions-and-Solutions-repo-ranklist-maintainer/), you can visit this. I have also pinned it at top of the issues.

Doing a tough question helps to earn a higher tag.
Questions with "appreciation tags

[2021-10-06 08:19] vish-han commented on #253
@SarthakKeshari CAN U PLEASE ASSIGN THISISSSUE TO SOMEONE ELSE, IM UNABLE TO SOLVE THIS QUESTION?

[2021-10-06 08:37] SarthakKeshari commented on #253
Do you wish to leave this issue?

[2021-10-06 08:44] Onkar627 opened #273 "Spiral traversal of matrix in JAVA"
### Enter your question -
Your answer

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Your answer

[2021-10-06 08:44] vish-han commented on #253
Yess

[2021-10-06 08:45] Onkar627 commented on #273
@SarthakKeshari can you assign me this task?

[2021-10-06 09:42] SarthakKeshari commented on #253
Done

[2021-10-06 09:43] SarthakKeshari commented on #273
@Onkar627,
Kindly complete the issue template

[2021-10-06 10:07] SarthakKeshari commented on #269
@vijoyaliyan,
Question updated

### Enter your question -
Create a program to sort a 2 Dimensional Matrix according to given -

#### Condition -
1) First sort(decreasing order) the elements column-wise then sort(decreasing order) the matrix row-wise.
2) If the initail matrix contains a 0 then the row and column containing 0 should be sorted in increasing order.

Let's see an example -
Input -
Rows

[2021-10-06 11:03] UTKARSHSHARMA718 commented on #267
sir can I provide you the solution to this question.

[2021-10-06 11:20] SarthakKeshari opened #276 "🔴🟨 Call for Logo Designing - Phase 2 🟨🔴"
### Discussed in https://github.com/SarthakKeshari/Java-Questions-and-Solutions/discussions/275

<div type='discussions-op-text'>

<sup>Originally posted by **SarthakKeshari** October  6, 2021</sup>
***
# Hello team, 👋

### 🌄Opening a new way into this project to make it more user-friendly and to start this I wish to have your suggestions. #Letsthinktogether🤩

<hr>

### `There is a requirement of

[2021-10-06 11:21] SarthakKeshari commented on #267
@UTKARSHSHARMA718,
Its great to see your interest to solve the question. But deadline ain't over yet. You may refer to CONTRIBUTING.md for getting futher details and guidelines on how to contribute to this repo.

[2021-10-06 14:53] Onkar627 commented on #273
@SarthakKeshari if there is any thing to be updated?

[2021-10-06 17:46] #193 closed

[2021-10-06 18:14] nik132-eng opened #282 "Max Chunks To Make Sorted"
### Enter your question -
You are given an integer array arr of length n that represents a permutation of the integers in the range [0, n - 1].

We split arr into some number of chunks (i.e., partitions), and individually sort each chunk. After concatenating them, the result should equal the sorted array.

Return the largest number of chunks we can make to sort the array.

### Enter link to the qu

[2021-10-06 18:14] nik132-eng commented on #282
Can you please assign me this issue for hacktoberfest

[2021-10-06 18:54] nik132-eng opened #283 "Max Chunks To Make Sorted II"
### Enter your question -
You are given an integer array arr.

We split arr into some number of chunks (i.e., partitions), and individually sort each chunk. After concatenating them, the result should equal the sorted array.

Return the largest number of chunks we can make to sort the array.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems

[2021-10-06 18:55] nik132-eng commented on #283
Can you please assign me this issue for hacktoberfest

[2021-10-06 19:10] SarthakKeshari commented on #283
@nik132-eng,
Kindly add your solution to "leetcode" folder.
Deadline - 07/10/2021

[2021-10-06 19:37] SarthakKeshari commented on #273
@Onkar627,
Kindly add your solution to "GeeksForGeeks" folder.
Deadline - 07/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-07 02:42] Onkar627 opened #285 "Median of 2 sorted arrays."
### Enter your question -

Given two sorted arrays nums1 and nums2 of size m and n respectively, return the median of the two sorted arrays.
Input: nums1 = [1,3], nums2 = [2]
Output: 2.00000
Explanation: merged array = [1,2,3] and median is 2.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/median-of-two-sorted-arrays/

### Tags for the q

[2021-10-07 02:51] SarthakKeshari commented on #285
@Onkar627,
Kindly go through the repo. This issue is already addressed

[2021-10-07 04:12] ravi0213 opened #287 "Course Schedule"
### Enter your question -
There are N courses and they are labeled from 0 to N-1. You are also given a list of pairs (X, Y), indicates, you must take a course Y before X.
You need to answer if it is possible to finish all courses or not.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/course-schedule/

### Tags for the question(eg - Array

[2021-10-07 04:17] SarthakKeshari commented on #287
@ravi0213,
Kindly add your solution to "leetcode" folder.
Deadline - 07/10/2021

[2021-10-07 04:19] #242 closed

[2021-10-07 04:38] satyam878 opened #288 "79. Word Search"
### Enter your question -
Given an m x n grid of characters board and a string word, return true if word exists in the grid.

The word can be constructed from letters of sequentially adjacent cells, where adjacent cells are horizontally or vertically neighboring. The same letter cell may not be used more than once.

### Enter link to the question(if question belongs to any online platform) -
https

[2021-10-07 04:38] satyam878 commented on #288
Kindly assign me this task @SarthakKeshari

[2021-10-07 06:41] sagar-monga commented on #245
Can this be assigned to me? In Java

[2021-10-07 06:43] Anova07 commented on #207
If the deadline is crossed, can i work on this issue? @SarthakKeshari ?

[2021-10-07 07:05] #285 closed, assigned to nobody

[2021-10-07 07:09] Onkar627 opened #290 "Best Time to Buy and Sell Stock III"
### Enter your question -
You are given an array prices where prices[i] is the price of a given stock on the ith day.

Find the maximum profit you can achieve. You may complete at most two transactions.

Note: You may not engage in multiple transactions simultaneously (i.e., you must sell the stock before you buy again).
### Enter link to the question(if question belongs to any online platform) -

[2021-10-07 08:53] SarthakKeshari commented on #290
@Onkar627,
Kindly add your solution to "leetcode" folder.
Deadline - 08/10/2021

[2021-10-07 08:59] #287 closed, assigned to ravi0213

[2021-10-07 09:15] 2devyank opened #293 "Power set"
### Enter your question -
Generate Power set using Bitwise operator
Input="abc".
output="","a","b","c","ac","ab","bc","abc".

### Bit-manipulation

[2021-10-07 09:30] SarthakKeshari commented on #293
@2devyank,
Kindly elaborate in comments that how you are going to approach this problem.

[2021-10-07 10:15] 2devyank commented on #293
@SarthakKeshari
## Question
Generate Power set using Bitwise operator
## Sample Case
Input="ab"
Output="","a","b","ab"
## Approach
Basically what we have to do is check whether a bit is set or not if a bit is set then will print that character

So if n is the length of string given , then the number of subsets of that string is 2^n.
Therefore ,will be running two loop firstly will run the outer lo

[2021-10-07 11:04] SarthakKeshari commented on #253
@Harsh-bartariya,
Example -
1 2 3
4 5 6
7 8 9

So here,
cell no. 1 will form top-left, co-ordinates (0,0)
cell no. 3 will form top-right, co-ordinates (0,2)
cell no. 7 will form bottom-left, co-ordinates (2,0)
cell no. 9 will form bottom-right, co-ordinates (2,2)

[2021-10-07 12:12] #283 closed

[2021-10-07 12:14] #282 closed

[2021-10-07 12:15] MiryamVicente opened #299 "Fibonacci sequence"
### Enter your question -
Make the Fibonacci sequence. It consists of a series of natural numbers that are added by 2, starting from 0 and 1 (the Fibonacci sequence is carried out by always adding the last 2 numbers), like that:

0,1,1,2,3,5,8,13,21,34...

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, e

[2021-10-07 12:28] vish-han opened #300 "Isomorphic Strings"
### Enter your question -
you have given two strings , you have to find out that the strings are isomorphic or not?

### Enter link to the question(if question belongs to any online platform) -
NA

### Tags for the question(eg - Array, Basic, Stack, etc.) -
String

[2021-10-07 13:16] SarthakKeshari commented on #299
@MiryamVicente,
Kindly add your solution to "Basic Codes" folder.
Deadline - 08/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
A bit more questions will be given preference for Hacktoberfest tag.

[2021-10-07 13:45] SarthakKeshari opened #301 "Letter A"
### Enter your question -
Write a program to print letter A exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136321605-a4872c69-0abb-4f14-8194-cbdc76444cce.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:45] SarthakKeshari opened #302 "Letter B"
### Enter your question -
Write a program to print letter B exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136354294-74e6f9e4-41c5-4233-b1cd-82753deb1c99.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:45] SarthakKeshari opened #303 "Letter C"
### Enter your question -
Write a program to print letter C exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136354454-ea50a749-83ca-46e7-858f-fe485c31b31d.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:45] SarthakKeshari opened #304 "Letter E"
### Enter your question -
Write a program to print letter E exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136354698-3f0f2c67-d04e-48dd-9c0a-e6e3254863a6.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:45] SarthakKeshari opened #305 "Letter F"
### Enter your question -
Write a program to print letter F exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136354949-32b109ba-dc93-4977-ac3d-8325094a9dd9.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:45] SarthakKeshari opened #306 "Letter H"
### Enter your question -
Write a program to print letter H exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136355084-2103b129-9cad-427a-b983-333b0d8b3575.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:45] SarthakKeshari opened #307 "Letter I"
### Enter your question -
Write a program to print letter I exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136355269-c009bd1a-f4c0-434f-96c9-610b844198a1.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:45] SarthakKeshari opened #308 "Letter J"
### Enter your question -
Write a program to print letter J exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136355404-962fd793-27b7-4565-992b-ecf48cf4d5b9.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:45] SarthakKeshari opened #309 "Letter K"
### Enter your question -
Write a program to print letter K exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136355893-5489ccc7-0de6-47b6-a1ff-7612442c6bd6.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:45] SarthakKeshari opened #310 "Letter L"
### Enter your question -
Write a program to print letter L exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136356007-69cc2730-41d5-4a51-92fd-fcbfb35e6cf5.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:45] SarthakKeshari opened #311 "Letter M"
### Enter your question -
Write a program to print letter M exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136356275-bf730c38-bb3c-447d-9382-072caa97da25.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:45] SarthakKeshari opened #312 "Letter N"
### Enter your question -
Write a program to print letter N exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136356488-5ba26ef5-d49b-453b-ba8b-39ecf83e4d9a.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:46] SarthakKeshari opened #313 "Letter R"
### Enter your question -
Write a program to print letter R exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136356668-87257839-e607-4f40-ac8c-9ebf0461900c.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:46] SarthakKeshari opened #314 "Letter T"
### Enter your question -
Write a program to print letter T exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136357026-ef9cf191-8b80-4b62-8acf-2c4a1d196c03.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:46] SarthakKeshari opened #315 "Letter V"
### Enter your question -
Write a program to print letter V exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136357364-84d1aad9-8395-4d70-8352-cfb5d379529b.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:46] SarthakKeshari opened #316 "Letter W"
### Enter your question -
Write a program to print letter W exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136357589-916fa5f4-c14d-4a6a-bb21-01e7b05a3343.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:46] SarthakKeshari opened #317 "Letter X"
### Enter your question -
Write a program to print letter X exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136357743-23224fba-8082-4b5e-a5fe-a2cf7feaf909.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:46] SarthakKeshari opened #318 "Letter Y"
### Enter your question -
Write a program to print letter Y exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136357925-e2a64931-c4e6-454c-a92c-6a54f28910d3.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:46] SarthakKeshari opened #319 "Letter Z"
### Enter your question -
Write a program to print letter Z exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136358018-1b0c2422-2efe-4871-afd0-347c1d72c2f0.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 13:52] nitheesh96 commented on #317
i want to work on this issue

[2021-10-07 14:16] SarthakKeshari commented on #319
@Vedansh-Keshari,
Kindly add your solution to "Pattern Printing" folder.
Deadline - 08/10/2021

[2021-10-07 15:30] #293 closed, assigned to 2devyank

[2021-10-07 15:38] nik132-eng opened #321 "Maximum Product of Three Numbers"
### Enter your question -
Given an integer array nums, find three numbers whose product is maximum and return the maximum product.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/maximum-product-of-three-numbers/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Math ,sorting

[2021-10-07 15:39] nik132-eng opened #322 "Largest Number At Least Twice of Others"
### Enter your question -
You are given an integer array nums where the largest integer is unique.

Determine whether the largest element in the array is at least twice as much as every other number in the array. If it is, return the index of the largest element, or return -1 otherwise.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/larg

[2021-10-07 15:42] SarthakKeshari commented on #321
Surely, You can practice here.

[2021-10-07 15:43] nik132-eng opened #323 "Largest Number At Least Twice of Others"
### Enter your question -
You are given an integer array nums where the largest integer is unique.

Determine whether the largest element in the array is at least twice as much as every other number in the array. If it is, return the index of the largest element, or return -1 otherwise.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/larg

[2021-10-07 15:46] SarthakKeshari commented on #323
@nik132-eng,
Kindly note -
Not more than 2 questions can be assigned to a contributor at a time.

[2021-10-07 15:46] nik132-eng opened #324 "Product of Array Except Self"
### Enter your question -
Given an integer array nums, return an array answer such that answer[i] is equal to the product of all the elements of nums except nums[i].

The product of any prefix or suffix of nums is guaranteed to fit in a 32-bit integer.

You must write an algorithm that runs in O(n) time and without using the division operation.

### Enter link to the question(if question belongs t

[2021-10-07 15:47] SarthakKeshari commented on #324
@nik132-eng,
Kindly note -
Not more than 2 questions can be assigned to a contributor at a time.

[2021-10-07 17:15] #306 closed, assigned to aadityasinha-dotcom

[2021-10-07 17:18] #314 closed

[2021-10-07 17:40] #288 closed, assigned to satyam878

[2021-10-07 18:02] #307 closed, assigned to iravimandalia

[2021-10-07 19:00] SarthakKeshari commented on #315
@JohnLennox.
Kindly add your solution to "Pattern Printing" folder.
Deadline - 08/10/2021

[2021-10-08 02:14] Raghavarora27 opened #329 "Letter Combination of a Phone Number( Leetcode - 17 )"
Leetcode - 17
https://leetcode.com/problems/letter-combinations-of-a-phone-number/

#Recursion #Backtracking #Java

[2021-10-08 02:14] Raghavarora27 commented on #329
I want to work on this..

[2021-10-08 03:52] #57 closed

[2021-10-08 06:47] iravimandalia commented on #305
@SarthakKeshari, I have added my solution. :)

[2021-10-08 07:25] 2devyank opened #333 "Matrix"
### A brief about your proposal -
So I can see there is no folder for matrix if you want I would like to add some topics in matrix like wave traversal and spiral traversal

[2021-10-08 07:26] 2devyank commented on #333
@SarthakKeshari please give your review

[2021-10-08 08:05] #319 closed, assigned to Vedansh-Keshari

[2021-10-08 08:30] 2devyank commented on #333
okay sure

[2021-10-08 08:47] Kaustubh-git opened #336 "Mathematical operation- Addition"
### Enter your question -
Performing addition of two numbers using parallel programming

### Enter link to the question(if question belongs to any online platform) -
no link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
server,remote,basics

[2021-10-08 08:51] 2devyank opened #337 "Wave Traversal"
### Enter your question -
In this question will have to print element of matrix in wave form

## Sample Case
Input:
1 2 3
4 5 6
7 8 9
Output:1 4 7 8 5 2 3 6 9

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

[2021-10-08 08:57] 2devyank opened #338 "Spiral Traversal"
### Enter your question -
In this question will have to print element of matrix in spiral form .
Basically you have to print character moving from outer most layer to inner most layer spirally

## Sample Case
Input:
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25
25 26 28 29 30
Output:
1 6 11 16 21 26 27 28 29 30 25 20 15 10 5 4 3 2  7 12 17 22 23 24 19 14 9 8 13 18

### Tags for

[2021-10-08 09:01] Kaustubh-git opened #339 "Mathematical operation- Subtraction"
### Enter your question -
Performing subtraction of two numbers using parallel programming

### Enter link to the question(if question belongs to any online platform) -
no link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
rmi,server,basic,client, parallel programming

[2021-10-08 09:01] Kaustubh-git commented on #339
Kindly assign me this issue @SarthakKeshari

[2021-10-08 09:39] SarthakKeshari commented on #339
@Kaustubh-git,
Kindly create folder "Parallel Programming" folder and add your solution to it.
Deadline - 09/10/2021

[2021-10-08 09:42] #321 closed

[2021-10-08 09:43] SarthakKeshari commented on #313
@WilsoP,
For sure, Kindly add your solution to "Pattern Printing" folder.
Deadline - 08/10/2021

[2021-10-08 09:46] #318 closed, assigned to ravi0213

[2021-10-08 09:48] #290 closed

[2021-10-08 09:51] #305 closed, assigned to iravimandalia

[2021-10-08 10:16] limitlessdeveloper commented on #309
Hi @SarthakKeshari, please assign this issue to me, Thanks!

[2021-10-08 10:17] SarthakKeshari commented on #309
@limitlessdeveloper,
Kindly add your solution to "Pattern Printing" folder.
Deadline - 09/10/2021

[2021-10-08 10:48] #323 closed, assigned to nobody

[2021-10-08 10:57] nik132-eng opened #344 "Number of Subarrays with Bounded Maximum"
### Enter your question -
Given an integer array nums and two integers left and right, return the number of contiguous non-empty subarrays such that the value of the maximum array element in that subarray is in the range [left, right].

The test cases are generated so that the answer will fit in a 32-bit integer.

### Enter link to the question(if question belongs to any online platform) -
https:/

[2021-10-08 11:16] #308 closed

[2021-10-08 11:19] #322 closed

[2021-10-08 11:54] raghav-13 opened #349 "Remove Nth Node from the end of the list"
### Enter your question -
Given the head of a linked list, remove the nth node from the end of the list and return its head.

Example 1:

Input: head = [1,2,3,4,5], n = 2
Output: [1,2,3,5]

Example 2:

Input: head = [1], n = 1
Output: []

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/remove-nth-node-from-end-of-list/

### Tags for the qu

[2021-10-08 12:28] #309 closed, assigned to limitlessdeveloper

[2021-10-08 13:05] WilsoP commented on #311
Can I have a go at this?

[2021-10-08 13:31] aarzoopundir opened #351 "Count full nodes in a binary tree"
### Enter your question -
count full nodes in a binary tree

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) -
tree, recursion

[2021-10-08 13:31] aarzoopundir commented on #351
@SarthakKeshari Kindly assign this issue to me.

[2021-10-08 13:44] RashidNepal opened #352 "Kadane's Algorithm"
### Enter your question -
Find the contiguous sub-array(containing at least one number) which has the maximum sum and return its sum.

### Enter link to the question(if question belongs to any online platform) -
https://practice.geeksforgeeks.org/problems/kadanes-algorithm-1587115620/1#

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

[2021-10-08 13:45] RAshid602 commented on #352
Kindly Assign this to me.

[2021-10-08 14:11] WilsoP commented on #311
I've attached a solution :)

[2021-10-08 15:02] #310 closed, assigned to GayatriChaudhari1281

[2021-10-08 15:15] WilsoP commented on #317
Hi, can I have a go at this one?

[2021-10-08 15:18] JohnLennox commented on #149
Hi, please may I have this issue?

[2021-10-08 15:23] #349 closed, assigned to raghav-13

[2021-10-08 15:40] Monica-Chhabria commented on #304
submitted pr

[2021-10-08 17:02] GayatriChaudhari1281 commented on #317
I would like to work on this issue. Kindly assign this issue to me.

[2021-10-08 21:29] Vedansh-Keshari commented on #303
This seems a really interesting question
@SarthakKeshari
Sir please assign this to me

[2021-10-08 22:04] SarthakKeshari commented on #317
@WilsoP,
Sorry, my bad I missed that

[2021-10-08 22:12] SarthakKeshari commented on #303
@Vedansh-Keshari,
Kindly add your solution to "Pattern Printing" folder.
Deadline - 09/10/2021

[2021-10-08 22:17] nobita851 opened #359 "Implementing Graph"
### Enter your question -
A program to implement directed and undirected graphs.

### Enter link to the question(if question belongs to any online platform) -

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Graph

[2021-10-09 01:50] RashidNepal opened #361 "Missing numbers"
### Enter your question -
Given an array nums containing n distinct numbers in the range [0, n], return the only number in the range that is missing from the array.

### Enter link to the question(if question belongs to any online platform) -
[Missing numbers](https://leetcode.com/problems/missing-number/)

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array,Sorting

[2021-10-09 04:30] #316 closed, assigned to GayatriChaudhari1281

[2021-10-09 04:32] #149 closed

[2021-10-09 04:33] venkatsgithub1 opened #363 "Search a sorted array which is rotated"
### Enter your question -
A sorted array is rotated by some number, we need to search for a given number in the array.

### Enter link to the question(if question belongs to any online platform) -
I was studying this in Educative.io, video link: [Link to Problem explanation](https://www.youtube.com/watch?v=uufaK2uLnSI&list=PL2_aWCzGMAwL3ldWlrii6YeLszojgH77j&index=7&t=399s)

### Tags for the questi

[2021-10-09 04:37] SarthakKeshari commented on #363
I appreciate that you came up with a question implementation on the topic that you are learning.

[2021-10-09 04:48] RAshid602 commented on #361
Done.

[2021-10-09 04:52] RAshid602 opened #364 "MergeSort Without Taking Extra Space"
### Enter your question -
Merge Without Extra Space

### Enter link to the question(if question belongs to any online platform) -
[Merge Without Extra Space](https://practice.geeksforgeeks.org/problems/merge-two-sorted-arrays5135/1)

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array,Sorting

[2021-10-09 04:53] SarthakKeshari commented on #361
@RAshid602,
Kindly add your solution to "leetcode" folder.
Deadline - 10/10/2021

[2021-10-09 04:59] SarthakKeshari commented on #364
@RAshid602,
Kindly add your solution to "GeeksForGeeks" folder.
Deadline - 10/10/2021

[2021-10-09 05:01] SarthakKeshari commented on #352
@RAshid602,
Surely I'll look into it

[2021-10-09 05:05] sRahul-00 commented on #364
Can I work on this?

[2021-10-09 05:08] #300 closed, assigned to vish-han

[2021-10-09 05:09] SarthakKeshari commented on #364
@sRahul-00,
Its great to see your interest to solve the question. But since the deadline ain't over yet. You may refer to CONTRIBUTING.md for getting futher details and guidelines on how to contribute to this repo.

[2021-10-09 05:14] #304 closed

[2021-10-09 05:27] sRahul-00 opened #365 "Delete Node in a BST"
Enter your question -
Delete Node in a BST

 Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/delete-node-in-a-bst/

 Tags for the question(eg - Array, Basic, Stack, etc.) -
Binary Search Tree

[2021-10-09 05:27] sRahul-00 commented on #365
shall I work on this?

[2021-10-09 05:33] RAshid602 commented on #365
@sRahul-00  kindly set the Question title.
you can find edit option on Top right corner.

[2021-10-09 06:28] sRahul-00 commented on #365
@RAshid602 @SarthakKeshari done with the issue...

[2021-10-09 07:23] #338 closed

[2021-10-09 07:28] #363 closed

[2021-10-09 07:46] nik132-eng commented on #344
done sir, can you please merge it?

[2021-10-09 08:59] #344 closed

[2021-10-09 09:09] WilsoP commented on #317
Find attached PR

[2021-10-09 09:10] SarthakKeshari commented on #313
@nik132-eng,
PR has already been submitted. Kindly create another issue.

[2021-10-09 11:49] SarthakKeshari commented on #276
Yes, You can make the changes or even change the logo any number of times before the deadline.

[2021-10-09 13:18] #324 closed, assigned to nik132-eng

[2021-10-09 13:42] #336 closed

[2021-10-09 14:00] MohammedHassan07 commented on #276
@SarthakKeshari
![Uploading IMG-20211009-WA0017.jpg…]()

Updated,
This is brighter than previous one

[2021-10-09 14:03] MohammedHassan07 commented on #276
@SarthakKeshari
![IMG-20211009-WA0017](https://user-images.githubusercontent.com/90477795/136661064-027eb200-7de5-4966-8a33-e25e55576971.jpg)

Updated the logo,
Brighter than previous one

[2021-10-09 14:54] SarthakKeshari commented on #276
@MohammedHassan07,

### NOTE - Coding Library Website's theme is black, white and grey.

An advice - The logo will be of max. size of almost 1 inch by 1 inch as you must have seen on different websites. Or you can see this github logo. So try making a logo with as minimal details as possible, so that even if its very small it can get attention.

![image](https://user-images.githubusercontent.com/5

[2021-10-09 15:12] #339 closed, assigned to Kaustubh-git

[2021-10-09 15:15] #302 closed

[2021-10-10 04:25] satyam878 opened #382 "Bitwise AND of Numbers Range"
### Enter your question -
Given two integers left and right that represent the range [left, right], return the bitwise AND of all numbers in this range, inclusive.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/bitwise-and-of-numbers-range/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
bit-manipulation

[2021-10-10 04:25] satyam878 commented on #382
Kindly assign me this task @SarthakKeshari

[2021-10-10 04:52] #200 closed

[2021-10-10 09:00] #359 closed

[2021-10-10 09:07] SarthakKeshari commented on #382
@satyam878,
Kindly add your solution to "leetcode" folder
Deadline - 11/10/2021

[2021-10-10 11:27] #382 closed

[2021-10-10 14:35] RAshid602 opened #387 "Pattern"
### Enter your question -
Print
  1                          13
     2                    12    14
        3                11        15
           4            10            16
              5        9
                 6   8
                    7

### Enter link to the question(if question belongs to any online platform) -
This was from my previous university exam

### Tags for the question(eg -

[2021-10-10 14:38] RAshid602 commented on #387
Kindly, Assign this to me.

[2021-10-10 15:47] nobita851 commented on #121
I would be happy to work on this issue.

[2021-10-10 18:06] venkatsgithub1 opened #388 "Longest SubString with Distinct Characters"
### Enter your question -
A String is provided as input, we need to find out the longest substring of the given string with distinct characters.

### Enter link to the question(if question belongs to any online platform) -
I was studying this in Educative.io.

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Sliding Window, Strings.

[2021-10-11 04:34] #303 closed

[2021-10-11 04:45] SarthakKeshari commented on #388
@venkatsgithub1,
Kindly add your solution to "Pattern Printing" folder.
Deadline - 12/10/2021

[2021-10-11 04:59] SarthakKeshari commented on #387
@RAshid602,
Kindly add your solution to "Arrays/2D Arrays" folder.
Deadline - 12/10/2021

[2021-10-11 05:11] nik132-eng opened #390 "Partition Labels"
### Enter your question -
You are given a string s. We want to partition the string into as many parts as possible so that each letter appears in at most one part.

Return a list of integers representing the size of these parts.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/partition-labels/

### Tags for the question(eg - Array, Basic,

[2021-10-11 05:12] SarthakKeshari commented on #390
@nik132-eng,
Kindly add your solution to "leetcode" folder.
Deadline - 12/10/2021

[2021-10-11 05:14] nik132-eng opened #391 "Maximum Subarray"
### Enter your question -
Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

A subarray is a contiguous part of an array.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/maximum-subarray/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Arra

[2021-10-11 05:50] SarthakKeshari commented on #276
@MohammedHassan07,
😃 I am glad to announce that your logo✔ has been selected as the website logo for this project.
Kindly create an issue with the title "🌟Website logo" and get it assigned in order to create a PR to contribute a .png file and a word file(stating the inspiration and the reason behind creating the contributed logo) to the repository.

[2021-10-11 06:09] dineshparekh11 opened #392 "All Possible Permutations Of The Given String"
### Enter your question -
Find The All Possible Permutations Of The Given String

### Enter link to the question(if question belongs to any online platform) -
![perm1](https://user-images.githubusercontent.com/78658348/136741031-59b2ada2-d4de-4fb5-a4b5-ad524d0d81ef.PNG)

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, String, Boolean

[2021-10-11 07:19] nik132-eng commented on #391
ok sir

[2021-10-11 08:00] nik132-eng opened #394 "Segregate 0s and 1s in an array"
### Enter your question -
You are given an array of 0s and 1s in random order. Segregate 0s on the left side and 1s on the right side of the array [Basically you have to sort the array]. Traverse array only once.

### Enter link to the question(if question belongs to any online platform) -
https://www.geeksforgeeks.org/segregate-0s-and-1s-in-an-array-by-traversing-array-once/

### Tags for the que

[2021-10-11 08:03] MohammedHassan07 opened #395 "Website logo"
### Enter your question -
Providing the logo for website

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -

[2021-10-11 15:58] vyom18 opened #398 "MoveZeros"
### Enter your question -
Given an integer array nums, move all 0's to the end of it while maintaining the relative order of the non-zero elements.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/explore/interview/card/top-interview-questions-easy/92/array/567/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

[2021-10-11 17:59] singhanuj620 opened #400 "Evaluate Reverse Polish Notation"
### Enter your question -
Evaluate the value of an arithmetic expression in Reverse Polish Notation.

Valid operators are +, -, *, and /. Each operand may be an integer or another expression.

Note that division between two integers should truncate toward zero.

It is guaranteed that the given RPN expression is always valid. That means the expression would always evaluate to a result, and there wi

[2021-10-11 20:42] #361 closed, assigned to RashidNepal

[2021-10-11 20:51] #388 closed

[2021-10-11 20:52] Vedansh-Keshari opened #401 "Enhanced for loop"
### Enter your question -
Write a program to input a nested List and print all the elements present in it.

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
ArrayList and looping

Please assign this question to me please.

[2021-10-11 20:53] SarthakKeshari commented on #398
@vyom18,
Kindly request for assigning it and only once its assigned, you may created the PR.
Since its happening for the first time, I will accept it.

[2021-10-11 21:08] #121 closed

[2021-10-11 21:16] #299 closed, assigned to MiryamVicente

[2021-10-11 21:20] #365 closed, assigned to sRahul-00

[2021-10-11 21:47] nobita851 opened #403 "Searching Algorithms [Graph]"
### Enter your question -
Program to implement Breadth First Search and Depth First Search

### Enter link to the question(if question belongs to any online platform) -
NA

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Graph Search

[2021-10-12 05:16] #390 closed

[2021-10-12 05:22] #398 closed

[2021-10-12 05:44] #276 closed

[2021-10-12 06:04] Prithijit07 commented on #387
@SarthakKeshari pls assign me to this. I have this done.

[2021-10-12 06:16] SarthakKeshari commented on #387
@Prithijit07,
Its great to see your interest to solve the question. But deadline ain't over yet. You may refer to CONTRIBUTING.md for getting futher details and guidelines on how to contribute to this repo.

You may claim it again tomorrow if the issue remains undone.

[2021-10-12 09:43] MohammedHassan07 commented on #395
@SarthakKeshari
In which folder should I place the .PNG file and word file

[2021-10-12 13:34] MiryamVicenteOllero opened #405 "Digital clock in Java"
### Enter your question -
Make a digital clock that shows the time non-stop.

(You must wait a real second to give it more realism.)

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic, Hacktoberfest, Loops, Conditionals

[2021-10-12 14:00] nik132-eng opened #407 "Consecutive Numbers Sum"
### Enter your question -
Given an integer n, return the number of ways you can write n as the sum of consecutive positive integers.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/consecutive-numbers-sum/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, String

[2021-10-12 14:01] #391 closed

[2021-10-12 14:43] satyam878 opened #408 "Min Cost Climbing Stairs"
### Enter your question -
You are given an integer array cost where cost[i] is the cost of ith step on a staircase. Once you pay the cost, you can either climb one or two steps.

You can either start from the step with index 0, or the step with index 1.

Return the minimum cost to reach the top of the floor.

### Enter link to the question(if question belongs to any online platform) -
https://leet

[2021-10-12 14:52] ravneetsinghgaba opened #409 "More sorting algorithms."
### A brief about your proposal -
I think implementations of some of a bit complex sorting algorithms is missing from this repo, for example, shell sort and radix sort.

[2021-10-12 18:56] iamsunil25 opened #411 "Rotate array by k times"
### Enter your question -
Q . Rotate array by k times ?

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/rotate-array/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Leetcode

[2021-10-12 18:57] iamsunil25 commented on #411
@SarthakKeshari assign this issue to me i can work on this issue

[2021-10-12 19:11] MohammedHassan07 commented on #395
@SarthakKeshari
Kindly check the logo

![Final](https://user-images.githubusercontent.com/90477795/137015039-170d3cf9-a06d-4071-85cf-cec906c34cc5.png)

[2021-10-12 19:23] SarthakKeshari commented on #395
@MohammedHassan07,
Amazing

[2021-10-12 19:26] SarthakKeshari commented on #395
@MohammedHassan07,
Thankyou🎁 for coming up with such an aesthetic and innovative logo.
I invite you to add more value to the project by creating a pull request.

Title of PR - "🌟Website logo declaration"
Body of PR should contain -
Website title
Logo Image file
Inspiration and the reason behind creating the contributed logo(more than 40 words for the reason will be appreciated)

Also attach a webs

[2021-10-13 03:02] nik132-eng opened #413 "Fibonacci Number"
### Enter your question -
The Fibonacci numbers, commonly denoted F(n) form a sequence, called the Fibonacci sequence, such that each number is the sum of the two preceding ones, starting from 0 and 1. That is,

F(0) = 0, F(1) = 1
F(n) = F(n - 1) + F(n - 2), for n > 1.
Given n, calculate F(n).

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/proble

[2021-10-13 03:02] nik132-eng commented on #413
kindly assign me for practice.

[2021-10-13 03:49] Prithijit07 commented on #387
Kindly assign this issue to me

[2021-10-13 04:40] #408 closed

[2021-10-13 04:41] SarthakKeshari commented on #387
@Prithijit07,
Go ahead, Kindly add your solution to "Arrays/2D Arrays" folder.
Deadline - 14/10/2021

[2021-10-13 04:42] SarthakKeshari commented on #413
@nik132-eng,
Kindly add your solution to "leetcode" folder.
Deadline - 13/10/2021

[2021-10-13 04:44] #407 closed

[2021-10-13 04:44] satyam878 opened #416 "Construct Binary Search Tree from Preorder Traversal"
### Enter your question -
Given an array of integers preorder, which represents the preorder traversal of a BST (i.e., binary search tree), construct the tree and return its root.

It is guaranteed that there is always possible to find a binary search tree with the given requirements for the given test cases.

A binary search tree is a binary tree where for every node, any descendant of Node.left

[2021-10-13 04:45] SarthakKeshari commented on #416
@satyam878,
Kindly add your solution to "leetcode" folder.
Deadline - 13/10/2021

[2021-10-13 05:19] aarzoopundir opened #418 "Longest Palindromic Substring"
### Enter your question -
Given a string s, return the longest palindromic substring in s.
Input: s = "babad"
Output: "bab"

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/longest-palindromic-substring/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
String

[2021-10-13 06:51] SarthakKeshari commented on #395
@MohammedHassan07,
Directly in the "Java-Questions-and-Solutions" folder.

[2021-10-13 06:59] SarthakKeshari opened #420 "Java Introduction Document (First 2 contributors will be assigned)"
### Enter your question -
Write a vivid, clear and easy to understand **(by easy to understand it means that the explaination should be understandable even for complete beginners)** article/description on the topic Introduction to Java. This document will be a part of CodersArena Website Java Documentation introduction page.

Submissions of assigned contributors will be accepted in .doc/.docx file

[2021-10-13 12:18] #395 closed, assigned to MohammedHassan07

[2021-10-13 12:48] lobachaos commented on #257
Is this available ? If yes , please assign to me.

[2021-10-13 14:15] #411 closed

[2021-10-13 14:31] sudeephiremath opened #426 "Exception Handling of Dividing by zero Error"
### Enter your question -
knowing the error and handling it when a value is divided by zero

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic, Hacktoberfest, Error, Exception Handling

[2021-10-13 14:45] lobachaos opened #427 "All substring of a given string in java"
# Enter your question -
Q. Print all substring of a given string in java?

# Condition -
Print the substring only when the characters in the substring are strictly in increasing ASCII order.
Print the output in sorted decreasing order using inbuilt functions only.
There should not be any repeated substring.
## Remember -
ASCII values of each character needs to be considered.

input = abc
output =

[2021-10-13 14:51] sudeephiremath commented on #426
sorry for the other two mentioning here

[2021-10-13 14:59] #427 closed

[2021-10-13 17:57] #405 closed

[2021-10-13 18:50] venkatsgithub1 opened #430 "Find the high and low index of a given key in the sorted array"
### Enter your question -
Suppose there is a sorted array and the values maybe repetitive, find the low index and high index at which that key appeared in the array.

### Enter link to the question(if question belongs to any online platform) -
Learning from Educative.io.

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

[2021-10-13 19:36] omkarnayak opened #431 "Letter combination of a phone number"
### Enter your question -
Given a string containing digits from 2-9 inclusive, return all possible letter combinations that the number could represent. Return the answer in any order.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/letter-combinations-of-a-phone-number/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
String

[2021-10-13 20:25] #403 closed, assigned to nobita851

[2021-10-13 20:26] #431 closed

[2021-10-14 04:17] aarzoopundir commented on #418
The other solution was using dynamic programming and this solution is
better than dynamic programming

On Thu, 14 Oct 2021, 9:41 am SarthakKeshari, ***@***.***>
wrote:

[2021-10-14 06:06] SarthakKeshari commented on #418
@aarzoopundir,
Program updation and multiple responses will be considered once the website it up. For now one program for a question is only entertained.

[2021-10-14 06:07] aarzoopundir commented on #418
Okk

On Thu, 14 Oct 2021, 11:36 am SarthakKeshari, ***@***.***>
wrote:

[2021-10-14 08:42] #418 closed, assigned to aarzoopundir

[2021-10-14 10:32] satyam878 opened #433 "Perfect Squares"
### Enter your question -
Given an integer n, return the least number of perfect square numbers that sum to n.

A perfect square is an integer that is the square of an integer; in other words, it is the product of some integer with itself. For example, 1, 4, 9, and 16 are perfect squares while 3 and 11 are not.

### Enter link to the question(if question belongs to any online platform) -
https://l

[2021-10-14 10:50] #416 closed

[2021-10-14 11:32] Khushi-agarwal opened #435 "String task"
### Enter your question -
The question is from code forces.

### Enter link to the question(if question belongs to any online platform) -
https://codeforces.com/contest/118/problem/A

### Tags for the question(eg - Array, Basic, Stack, etc.) -
String

[2021-10-14 11:32] Khushi-agarwal commented on #435
@SarthakKeshari Can you please approve this issue.

[2021-10-14 13:06] SarthakKeshari commented on #387
@Prithijit07,
No idea why it happened. The idea of project was beyond DSA, which is being implemented as bible for programmers.

[2021-10-14 13:55] SarthakKeshari opened #439 "Important announcement"
### Discussed in https://github.com/SarthakKeshari/Java-Questions-and-Solutions/discussions/438

<div type='discussions-op-text'>

<sup>Originally posted by **SarthakKeshari** October 14, 2021</sup>
Hey Team,
As per informed by one of the contributors that the project show to have been excluded from Hacktoberfest. So the project won't be accepting any issues and PR under Hacktoberfest tag.

#### T

[2021-10-14 16:45] #430 closed

[2021-10-15 02:37] nik132-eng commented on #439
sir, can you suggest any repo for Oktoberfest for beginners at open source.

[2021-10-16 15:10] #420 closed, assigned to anushka-srivastava22, MohammedHassan07

[2021-10-31 09:57] GayatriChaudhari1281 commented on #258
Please assign this issue to me.

[2021-10-31 10:31] GayatriChaudhari1281 commented on #253
Please assign this issue to me.

[2021-12-10 12:38] #439 closed